// overwrite css theme
$primaryColor: #505050;
$secondColor: #757c7e;

$primary-txt: #070404;
$primary-bg: #070404;
$black-txt: #000000;
$black-bg: #000000;
$important-text: #ea1515;
$red-bg: #ea1515;
$red-txt: #ea1515;
$gray-bg: #efefef;
$gray-txt: #efefef;
$secondary-txt: #4b4343;
$secondary-bg: #4b4343;
$white-txt: #ffffff;
$white-bg: #ffffff;
$black-txt: #070404;
$black-bg: #070404;
$black-border: #070404;
$primary-font: 'ProximaNova',
sans-serif;
$border-color: #e5e5e5;
$gray-bg: #e5e5e5;
$light-gray-bg: #f5f5f5;
$black-border: #000000;
$border-dark-color: #4b4343;
$border-focus: #4592ff;
$border-error: #ea1515;
$border-gray: #f5f5f5;
$border-success: #3dc47e;
$border-thumb: #cbcbcb;
$react-rater-link: #dde8ed;
$react-rater-hover: #ffce00;
$react-rater-active: #ffce00;
$mw-112: 112px;
$mw-114: 114px;
$tooltip-bg: #313131;

// Collection Color

$yellow-txt: rgba(209, 181, 112, 0.22);
$blue-txt: rgba(108, 122, 143, 0.18);
$orange-txt: rgba(208, 193, 180, 0.3);
$purple-txt: #53505f;
$gold-txt: #c1b097;

.topnavbar {
  background-color: $primaryColor;
  background-image: linear-gradient(to right, $primaryColor 0%, $secondColor 100%);
}

.sidebar-nav>li.active,
.sidebar-nav>li.active>a,
.sidebar-nav>li.active>.nav-item,
.sidebar-nav>li.active .sidebar-nav,
.sidebar-nav>li.open,
.sidebar-nav>li.open>a,
.sidebar-nav>li.open>.nav-item,
.sidebar-nav>li.open .sidebar-nav,
.sidebar-nav>li.active>.nav-item>em,
.sidebar-nav>li.active>a>em,
.sidebar-nav>li.open>.nav-item>em,
.sidebar-nav>li.open>a>em,
.topnavbar .navbar-nav>.nav-item>.nav-link:hover,
.topnavbar .navbar-nav>.nav-item>.nav-link:focus,
.topnavbar .navbar-nav>.nav-item.show>.nav-link:hover,
.topnavbar .navbar-nav>.nav-item.show>.nav-link:focus {
  color: $primaryColor;
}

.sidebar-nav>li>a:focus,
.sidebar-nav>li>a:hover,
.sidebar-nav>li>.nav-item:focus,
.sidebar-nav>li>.nav-item:hover {
  color: $secondColor;
}

.sidebar-nav>li.active {
  border-left-color: $primaryColor;
}

.underlined {
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}
a {
  cursor: pointer;
}

.dp-flex-w-sbt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.align-i-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}


.cursor-pointer {
  cursor: pointer;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Plan
.plan,
.plan__body {
  position: relative;
}

.plan__cell {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}

.plan__body {
  height: 165px;
  margin-bottom: 20px;
}

@media (min-width: 515px) {
  .plan__body {
    min-height: 160px;
  }
}

.plan__add {
  position: relative;
  width: 100%;
  height: 100%;
}

.plan__add:after,
.plan__add:before {
  top: 50%;
  left: 50%;
  content: " ";
}

.plan__add:before {
  position: absolute;
  border-left: 2px solid $primaryColor;
  height: 100px;
  margin-top: -50px;
}

.plan__add:after {
  position: absolute;
  width: 100px;
  margin-left: -50px;
  border-bottom: 2px solid $primaryColor;
}

.plan__title {
  color: #757575;
  white-space: nowrap;
  height: 3rem;
  line-height: 3rem;
  font-size: 17px;
}

.plan__thumb {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.plan__empty {
  background-repeat: repeat;
  border: 2px dashed $primaryColor;
}

.plan__overlay {
  display: flex;
  align-items: center;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  position: absolute;
  left: -15px;
  top: -15px;
  opacity: 0;
  z-index: 2;
  border: none;
  transition: all ease-in-out 250ms;
  background-color: rgba(0, 0, 0, 0.4);
}

.plan__overlay:hover {
  opacity: 1;
}

.plan__overlay img {
  height: auto;
}

.plan__overlay_visual {
  display: block;
  max-width: 100%;
  opacity: 0.7;
  border: none;
}

.plan__overlay_body {
  display: inline-block;
  z-index: 3;
  text-align: center;
  width: 100%;
}

.plan__overlay_body .icon {
  display: inline-block;
  font-size: 24px;
  margin: 0 2px;
  cursor: pointer;
  color: #fff;
}

.plan__open {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.plan-list__action {
  width: 18px;
  height: 18px;
  display: inline-block;
  padding: 10px
}

.plan-list__action a {
  display: inline-block;
}

.plan-list__action svg {
  width: 18px;
  height: 18px;
  fill: #fff
}

.hint {
  display: inline;
  position: relative
}

.hint:hover:after {
  background: #333;
  background: rgba(0, 0, 0, .8);
  border-radius: 5px;
  bottom: 35px;
  color: #fff;
  content: attr(data-title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  font-size: 12px
}

.plan__overlay_open {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin-top: 5px;
}

.plan__overlay--triangle {
  display: inline-block;
  position: relative
}

.plan__overlay--triangle:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: -15px;
  top: 40%;
  border: 5px solid transparent;
  border-left-color: $primaryColor;
  border-left-width: 6px
}


.plan__title {
  color: #757575;
  white-space: nowrap;
  height: 3rem;
  line-height: 3rem;
  font-size: 17px
}

.plan--new .plan__title {
  text-align: center
}

.plan__title input {
  background: 0 0;
  border: 0;
  padding: 0;
  box-shadow: none !important;
  color: #757575;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
  width: 100%;
}

.plan__title input::-webkit-input-placeholder {
  color: #ccc;
  opacity: .8
}

.plan__title input:-moz-placeholder {
  color: #ccc;
  opacity: .8
}

.plan__title input::-moz-placeholder {
  color: #ccc;
  opacity: .8
}

.plan__title input:-ms-input-placeholder {
  color: #ccc;
  opacity: .8
}

.plan__title input:focus {
  box-shadow: 0 1px 0 0 $primaryColor;
  border-bottom: 1px solid $primaryColor;
}

.plan__title:disabled {
  background: 0 0;
  opacity: .5
}

// List
.list {
  margin-left: 0;
  margin-right: 0;
}

.list__cell {
  border: 1px solid #f1f1f1;
  margin-right: -1px;
  margin-bottom: -1px;
}

// loaders
.square-spin>div {
  border-color: $secondColor;
  background-color: $secondColor;
}

.loading-component {
  height: 100%;
  position: absolute;
  width: 100%;
  background: rgba(200, 200, 200, 0.6);
  z-index: 9;
}

// editor-content
#editor-content {
  width: 100%;
  height: calc(100vh - 152px);
}

.actionbar-btn {
  display: block;
}

.actionbar-btn img,
.close-btn img {
  width: 3.8rem;
  height: 3.8rem;
  cursor: pointer;
}

.btn-top-block {
  position: relative;

  .interaction-btns--expanded {
    display: flex;
    justify-content: center;
  }

  .close-btn {
    position: fixed;
    top: 0;
    right: 15px;

    img {
      max-width: 2rem;
      cursor: pointer;
    }
  }

  .add-btn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
    animation: none;
    opacity: 1;
    transform: scale(1);
    z-index: 200;
    background: #dd1818;
    border-radius: 100%;

    &:hover {
      animation: pulseone 1.8s 0s infinite;
    }

    &:before {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #000;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      z-index: -1;
    }

    svg {
      width: 2rem;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 4px;
      fill: #fff;
    }
  }
}

.btn-bt-block {
  // position: absolute;
  // bottom: 10px;
  // left: 2rem;
  // right: 2rem;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  .total-area {
    font-size: 18px;
    color: #000;
  }

  .left {
    position: absolute;
    bottom: 10px;
    left: 2rem;

    // right: 2rem;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    .interaction-btns--expanded {
      justify-content: flex-start;
      display: flex;
      align-items: center;
    }

    .actionbar-btn {
      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
  }

  .right {
    .interaction-btns--expanded {
      display: flex;
      justify-content: center;
    }

    svg {
      width: 3.8rem;
      height: 3.8rem;
      cursor: pointer;
    }

    .actionbar-btn {
      path {
        fill: #000;
      }

      &.active {
        path {
          fill: red;
        }
      }
    }
  }

  .range-slider-button {
    display: block;
    position: absolute;
    top: -8px;
    width: 1rem;
    height: 1rem;
    padding: .5rem 0;
    margin: 0;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    text-align: center;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;

    &.left {
      left: -30px;
    }

    &.right {
      right: -30px;
      left: unset;

      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 1rem;
        background-color: #2f2f2f;
        position: absolute;
        left: .5rem;
        top: 0;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 1rem;
      height: 1px;
      background-color: #2f2f2f;
    }
  }

  input[type=range] {
    -webkit-appearance: none;
    background: transparent;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    background: #000;
    border: 0px solid #000101;
  }

  input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background: #000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }

  .form-group {
    margin-bottom: 0;
    position: relative;
    margin-left: 3rem;
    width: 150px;
  }

  .logo {
    width: 90px;

    position: absolute;
    bottom: 10px;
    right: 2rem;

    img {
      width: 100%;
    }
  }
}

.btn-feature {
  .default-btn {
    border: none;
    background: #000;
    padding: 5px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    position: relative;
    margin: 0 2px;
    cursor: pointer;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 14px;
    }
  }
}

.modal-backdrop {
  display: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.35);

  .modal-header {
    .close {
      margin: 0;
      padding: 0;
    }

    .lock-session {
      i {
        color: #000;
        cursor: pointer;
      }

      .fa-lock {
        display: none;
        margin-top: 3px;
      }

      &.active {
        .fa-lock-open {
          display: none;
        }

        .fa-lock {
          display: block;
        }
      }
    }
  }

  .modal-content {
    border-radius: 0;
  }

  .modal-dialog {
    width: 80%;
    max-width: 800px;
  }

  .modal-body {
    p {
      &.title {
        font-size: 25px;
        color: #000;
      }
    }

    label {
      margin-bottom: 0;
      color: #000;
    }

    input {
      border-right: 0;
      border-left: 0;
      border-top: 0;
      border-radius: 0;
      padding-top: 2px;
      height: 1.5rem;
    }

    .disable {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  .modal-footer {
    .btn-default {
      background-color: #fff;
      border-color: #ccc;

      &:hover {
        background-color: #e6e6e6;
        border-color: #adadad;
      }
    }

    .btn-danger {
      background: #000;
      border-color: transparent;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .color-block {
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #dde6e9;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 0;

    p {
      font-size: 20px;
      margin-bottom: 0;
      color: #000;
    }
  }

  .material-option-selected {
    position: relative;
    padding-right: 13px;
  }

  .p-material-picker-selected {
    margin-right: 5px;
  }

  .p-material-picker-material {
    width: 50px;
    height: 50px;
    font-size: 0;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid rgba(211, 211, 211, .8);
    background-size: contain;
    background-position: center center;
  }

  .material-option-selected {
    .nav-triangle {
      position: absolute;
      width: 13px;
      top: 1.4rem;
      right: 0;
      height: 13px;
      display: block;

      &:after {
        position: absolute;
        top: 2px;
        left: 0;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        width: 9px;
        height: 9px;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        content: ' ';
        transform: rotate(225deg);
      }
    }
  }
}

.detail-render {
  background-color: #f5f7fa;
  // position: fixed;
  position: absolute;
  width: 240px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 201;

  .object-list {
    margin-top: 20px;
  }

  p {
    color: #000;
    font-size: 16px;
  }

  .material-section-wrapper {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    background: rgba(239, 237, 237, 0.9);
  }

  .material-section {
    display: inline-block;
    height: 32px;
    width: 14%;
    margin-bottom: 5px;

    &.active {
      .material-wrapper {
        border: 1px solid #000;
      }
    }
  }

  .material-wrapper {
    display: block;
    max-width: 32px;
    height: 32px;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 100%;
  }

  .material-wrapper-item {
    background-color: #f5f5f5;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #d3d3d3;
    transition: background-color .2s ease-in-out;
  }

  .banner-info {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    max-width: 300px;
    height: 100%;
  }

  .banner {
    width: 100%;
    // background: url('/img/binding-dark.png');
    // background-color: rgb(0, 0, 0);
    width: 61px;
    height: 100%;
    border-right: 1px solid $border-color;
    img {
      width: 100%;
    }
  }

  .row {
    margin-bottom: 3px;

    &:last-child {
      .text {
        p {
          border-bottom: 3px solid #000;
        }
      }
    }

    .bg-white {
      background: #fff;
      width: 100%;
      margin: 0 15px;

      .text {
        float: left;
        padding: 0;
        margin-bottom: 10px;
      }

      .number {
        float: right;
        margin-bottom: 10px;

        p {
          margin-bottom: 0;
          padding: 8px 10px;
        }
      }
    }
  }

  .text {
    p {
      background: #fff;
      height: 100%;
      margin-bottom: 0;
      padding: 8px 10px;
    }
  }

  .number {
    position: relative;

    select {
      width: 100%;
      appearance: none;
      background: transparent;
      border: none;
      color: #fff;
      padding: 8px 10px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .icon-arrow-down {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    cursor: pointer;

    &:before {
      color: #fff;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .render-content {
    .default-btn {
      border: none;
      background: #000;
      padding: 5px;
      width: 28px;
      height: 28px;
      border-radius: 100%;
      position: relative;
      margin: 0 2px;
      cursor: pointer;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 14px;
      }
    }

    .delete {
      position: absolute;
      display: block;
      z-index: 99;
      bottom: 65%;
      left: 37%;
    }

    .ar {
      z-index: 100;
      position: absolute;
      bottom: 60px;
      left: 50%;
      text-align: center;
      margin-left: -53px;

      span {
        font-size: 8px;
        color: #fff;
        position: absolute;
        bottom: 2px;
        z-index: 10;
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 0;
    left: 15px;
    display: block;
    z-index: 999;
    width: 13px;
    display: block;
    i {
      color: $primary-txt;
    }
    img {
      // max-width: 2rem;
      width: 100%;
      min-height: auto;
      height: auto;
      cursor: pointer;
    }
  }
}

// custom scroll style
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.import-object {
  background: #fff;

  .banner-info {
    width: 300px;
  }

  .content-info {
    // position: relative;
    position: absolute;
    width: 100%;
    top: 0;
    left: 61px;
    // right: 0;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    // border-left: 1px solid $border-color;  
    .title {
      cursor: pointer;
      width: 100%;
    }
    i {
      color: $primary-txt;
      padding-right: 15px;
    }
    img {
      width: 100%;
    }
  }

  .cat-item-content {
    padding-bottom: 1.5rem;

    .title {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      text-transform: none;
      border-top: 1px solid #ccc;
      width: calc(100% - 20px);
      font-size: 2rem;
      font-weight: 300;
    }

    &:first-child .title {
      border-top: none;
    }
  }

  .object-item-content {
    font-size: 17px;
    color: #2f2f2f;
    text-align: center;
    cursor: pointer;
    padding: 0;
  }
  .object-item-img {
    margin-bottom: 15px;
  }
}


/*------------------ Global layout ---------------- */
.editor-wrap {
  position: relative;
  width: 100%;

  .visibility-hidden {
    visibility: hidden;
    z-index: -1;
  }

  .display-hidden {
    display: none;
  }

  >div {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
    overflow: hidden;
    background: #fff;
  }
}

/*------------------ Menu ---------------- */
.content-menu {
  .menu-editor {
    .dropdown-menu {
      margin-top: 0;

      .overlay {
        top: 60px;
      }

      img {
        width: 100%;
      }

      .product-image {
        padding: 0;
        align-items: center;
        display: flex;
      }
    }
  }

  .login {
    background: url(/img/ic_signin.png) no-repeat;
    width: 20px;
    height: 18px;
    background-size: contain;
  }

  .cart {
    .btn-primary {
      height: 43px;
      padding: 0;
      padding: 6px 12px;
    }
  }

  .new {
    width: 15px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background: #f00;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    top: 10px;
    text-align: center;
    color: #fff;
    font-size: 11px;
  }

  .menu-right .ic-render {
    width: 40px;
    height: 20px;

    a {
      display: block;
      height: 100%;
      padding: 0;
    }
  }
}

.editor {
  &.container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.menu-editor {
  border: 1px solid $border-color;
  max-height: 60px;
  width: unset !important;
  z-index: 1;
  background: $white-bg;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;

  .menu-left,
  .menu-right {
    flex-wrap: nowrap;

    img {
      width: 50%;
    }
  }

  li {
    a {
      padding: 19px 0;
      display: block;
      height: 100%;
    }
  }

  .menu-left {
    // margin-left: -8px;
    li {

      &:first-child,
      &:nth-child(2) {
        a {
          border-right: 1px solid $border-color;
        }
      }
    }
  }

  .menu-left {
    width: 90%;

    li {
      width: 50px;

      &:first-child {
        width: 60px;
      }

      &:nth-child(2) {
        width: 60px;
      }
    }

    img {
      max-width: 19px;
      margin: 0 auto;
      display: block;
    }
  }

  .menu-center {
    max-width: 280px;

    li {
      a {

        &:active,
        &.active {
          display: inline-block;
          position: relative;

          &:after {
            width: 100%;
            transition: width 0.3s;
            position: absolute;
            content: '';
            border-bottom: 2px solid $black-border;
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }

  .menu-right {
    max-width: 336px;
    justify-content: flex-end;
    padding-right: 10px;

    li {
      &.dropdown {
        border-right: 1px solid $border-color;
        padding-right: 13px;

        .caret {
          border: 0;
          background: url("/img/single-arrow.png")no-repeat;
          width: 13px;
          height: 8px;
          background-size: contain;
          transform: rotate(90deg);
          margin-top: 5px;
        }
      }

      a {
        padding: 22px 0;

        img {
          float: right;
        }
      }

      &.account {
        background: url("/img/ic_account.png") no-repeat;
        width: 57px;
        height: 20px;
        background-size: contain;
        border-right: none;
        padding: 0;

        .caret {
          display: none;
        }

        .dropdown-menu {
          left: unset;
          right: 0;
        }
      }
    }

    .dropdown-menu {

      // padding: 0;
      // margin-top: -10px;
      li {
        a {
          padding: 4px 20px;
        }
      }
    }

    #basic-nav-dropdown {
      padding: 0;
      width: 54px;
      text-align: right;
      line-height: 20px;
    }
  }

  .overlay {
    z-index: 99;
    top: 60px;
  }

  .cart-wrapper .cart .dropdown-menu {
    z-index: 999;
  }
}

.menu-sidebar {
  &.modal {
    &.fade {
      .modal-dialog {
        transition: none;
      }

      transition: transform 0.3s ease-out,
      opacity 0.15s linear;

      &:not(.in) {
        &.left {
          transform: translate3d(-100%, 0, 0);
        }

        &.right {
          transform: translate3d(100%, 0, 0);
        }
      }
    }

    max-width: 100%;
    box-shadow: 5px 0 10px;

    &.left {
      right: auto;
    }

    &.right {
      left: auto;
    }

    .modal-dialog {
      margin: 0;
      width: auto;

      .modal-content {
        background-color: transparent;
        border: 0;
        box-shadow: none;

        .modal-body {
          padding: 0;
        }
      }
    }

    &.fade:not(.in) {
      &.left .modal-dialog {
        transform: translate3d(-100%, 0, 0);
      }

      &.right .modal-dialog {
        transform: translate3d(100%, 0, 0);
      }
    }
  }

  .nav {
    width: 320px;
  }
}

.loader-wrapper {
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  opacity: 1;
}

.css-17os3md {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-3d {
  margin: 0 auto;
}

/*------------------ Left Sidebar ---------------- */
.left-sidebar,
.right-sidebar {
  margin-left: -15px;
  margin-right: -15px;
  // width: 61px;
  position: fixed;
  top: 60px;
  height: 100%;
  // z-index: 99;
    width: 240px !important;
  
}

.left-sidebar {
  // background: $primary-bg;
  z-index: 99;
  left: 15px;
  .sidebar {
    position: absolute;
    z-index: -1 !important;
    top: 0;
    background: $white-bg;
    visibility: hidden;
    transition: all .2s linear;
    left: -100%;
    width: 240px !important;
    bottom: 0;
  }

  .expand-btn {
    &.active {
      .sidebar {
        left: 100% !important;
        background: $white-bg;
        visibility: visible;
        transition: all .2s linear;
      }
    }
  }

  .icon-block {
    background: #fff;
    height: 100%;
    justify-content: flex-start;
    border-right: 1px solid #e5e5e5;
  }

  li {
    display: block;
    // min-height: 48px;
    padding: 10px 0;

    // margin: 15px 0;
    .expand-btn {
      display: block;
      max-height: 25px;
    }

    .img-toggle {
      width: 80%;
      display: block;
      margin: 0 auto;
      // height: 100%;
    }

    &:last-child {
      .img-toggle {
        // width: 30%;
      }
    }
  }

  .sidebar {
    box-shadow: unset;
    border-right: 1px solid $border-color;

    .title {
      padding: 15px 10px;
    }

    .collapse-btn {
      background: url("/img/single-arrow.png") no-repeat;
      width: 13px;
      height: 12px;
      display: block;
      background-size: contain;
      transform: rotateY(180deg);
    }
  }

  .sidebar-content {
    padding: 0 10px;
    height: 100vh;
    overflow-y: auto;

    ul {
      li {
        width: 50%;
        margin: 0;
        padding: 5px;
        position: relative;

        &.selected {
          a {
            border-radius: 2px;
            box-shadow: 3px 3px 6px 0 rgba(92, 106, 114, 0.16);
          }

          &:after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background: url(/img/success-btn.png) no-repeat;
            background-size: contain;
            bottom: 10px;
            right: 10px;
          }
        }

        a {
          display: block;

          &:hover {
            border-radius: 2px;
            box-shadow: 3px 3px 6px 0 rgba(92, 106, 114, 0.16);
          }
        }
      }
    }
  }

  .breadcrumb {
    li {
      margin: 0;
    }
  }

  .delete-item {
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 20px;
    height: 20px;
    background: url("/img/close.png") no-repeat;
    background-size: contain;
    z-index: 9;
  }

  .draggable {
    opacity: .3;
  }

  img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    user-select: none;
    user-drag: none;
    // width: 100%;
  }
  .list-group-item-action {
    padding: 10px;
  }
}

.right-sidebar {
  position: fixed;
  height: 100%;
  right: -320px;
  transition: right .3s;

  &.active {
    right: 0;
  }

  .collapse-btn {
    position: absolute;
    right: 10px;
    top: 18px;
  }

  .color-block a {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }

  .expand-btn {
    text-align: center;
    display: block;

    .icon {
      position: relative;
    }

    i {
      font-size: 20px;
      font-weight: lighter;
      padding: 15px 0;
      position: absolute;
      z-index: -1;
      right: -5px;
    }

    &.active {
      .sidebar {
        right: 15px;
        background: $white-bg;
        visibility: visible;
        transition: all .2s linear;
        left: unset;
        z-index: 999;
      }
    }
  }

  .sidebar {
    left: unset !important;
    box-shadow: unset;
    border: 1px solid $border-color;
    border-right: none;
    border-bottom: none;
    border-top: none;
    position: absolute;
    z-index: -1 !important;
    top: 0;
    background: $white-bg;
    visibility: hidden;
    transition: all .2s linear;
    right: -100%;
    height: 100%;
    width: 300px;

    .title {
      padding: 15px 10px;
      border-bottom: 1px solid $border-color;

      h3 {
        font-size: 14px;
      }
    }

    .sidebar-content {
      height: 80%;
      overflow-y: auto;

      .top-info {
        border-bottom: 1px solid $border-color;
        padding: 0 10px;

        .current-price {
          font-size: 12px;
          padding-right: 10px;
          margin: 0;
        }

        .price {
          font-size: 10px;
          margin-bottom: 0;
          color: $secondary-txt;
          text-decoration: line-through;
        }
      }

      .img-info {
        position: relative;

        img {
          width: 80%;
          display: block;
          margin: 0 auto;
        }

        .cart {
          width: 30px;
          height: 30px;
          position: relative;
          background: $white-bg;
          display: block;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          border-radius: 50px;
          margin-right: 23px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

          &:before {
            position: absolute;
            content: '';
            background: url(/img/cart.png) no-repeat;
            width: 15px;
            height: 16px;
            transform: translate(-50%, -50%);
            top: 52%;
            left: 50%;
            background-size: contain;
          }
        }
      }

      .readmore {
        &:before {
          content: '';
          background: unset;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .collapse {
        width: 100%;
      }

      .collapse-btn {
        transition: all 0.4s ease;

        &:active {
          transform: rotateZ(90deg);
        }
      }

      .toggle-btn {
        cursor: pointer;

        h3 {
          width: 100%;
          position: relative;
          text-align: left;

          &:before {
            position: absolute;
            content: '';
            background: url("/img/single-arrow.png")no-repeat;
            width: 13px;
            height: 12px;
            top: 0;
            right: 0;
            display: block;
            background-size: contain;
            background-position: right;
            transition: all 0.4s ease;
          }
        }

        &.active {
          h3 {
            &:before {
              position: absolute;
              content: '';
              transform: rotateZ(90deg);
              background: url("/img/single-arrow.png")no-repeat;
              width: 13px;
              height: 12px;
              top: 0;
              right: 0;
              display: block;
              background-size: contain;
              background-position: right;
              transition: all 0.4s ease;
            }
          }

          .collapse {
            width: 100%;
            max-height: 100vh;
            display: block;
            overflow: visible;
            transition: max-height 0.4s ease;
          }
        }

        .collapse {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.4s ease;
        }
      }
    }
  }

  .sidebar--opening {
    right: 15px;
    width: 300px !important;
  }

  .sidebar--closing,
  .sidebar--opening {
    transition: right .2s ease-out;
  }
}

.sidebar__touchbox {
  width: unset !important;
}

.collapse-btn {
  background: url("/img/single-arrow.png")no-repeat;
  width: 13px;
  height: 12px;
  display: block;
  background-size: contain;
  background-position: right;
}

.well {
  background: none !important;
  background-image: unset !important;
  border: none !important;
  box-shadow: none !important;
  padding: 15px 0 0 0 !important;
  margin-bottom: 0 !important;
  font-size: 12px !important;
  color: $secondary-txt;
  text-align: left;
  transition: all 0.4s ease;

  .color-block {
    a {
      transform: unset !important;
      max-width: 40px !important;
      width: 20% !important;
      height: 40px !important;
      position: relative !important;
      margin-right: 20px !important;
      margin-bottom: 10px !important;

      &.active {
        background: #ffffff;
        opacity: 0.5;
        z-index: 0;

        &:before {
          position: absolute;
          content: '';
          width: 8px;
          height: 16px;
          border: solid #000;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 11px;
          left: 17px;
          z-index: 999;
        }
      }
    }
  }

  .form-group {
    margin-bottom: 0;
    position: relative;

    .caret {
      position: absolute;
      right: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .form-control {
      border: 1px solid #e5e5e5;
      border-radius: 2px;
      -webkit-box-shadow: unset;
      box-shadow: unset;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-right: 30px;
    }
  }
}

/*------------------ 3D render ---------------- */
canvas {
  width: 100%;
  height: 100%;
}
.dropdown-toggle {
  color: $primary-txt;
}
.dropdown-toggle::after {
  display: none;
}

.cart-wrapper .cart {
  background: url("/img/cart.png") no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
  position: relative;
  margin: 0 40px;

  .icon-cart {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
  }

  .dropdown-menu {
    z-index: unset;
    min-width: 285px !important;
    left: -255px;
    padding: 10px 15px 20px 15px;
    max-height: 80vh;
    overflow-y: auto;
  }
}

.real-editor {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  // z-index: -1;
  overflow: hidden;
}

/*------------------ Swap Modal ---------------- */
//
.swap-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  &-wrap {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }

  &-close {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &-content {
    background-color: #fff;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  &-item {
    text-align: center;
    position: relative;
    cursor: pointer;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 1px;
      height: 157px;
      background-color: rgba(40, 47, 54, 0.15);
    }
  }

  &-img {
    padding-bottom: 17px;

    img {
      width: auto;
      height: 77px;
      margin: 0 auto;
    }
  }

  &-name {
    font-family: 'ProximaNova';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #070404;
    padding-bottom: 8px;
  }

  &-price {
    font-family: 'ProximaNova';
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #070404;
    padding-bottom: 12px;

    .old {
      opacity: 0.65;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #4b4343;
      padding-left: 6px;
      text-decoration: line-through;
    }
  }
}

/*------------------ Render ---------------- */
.render {
  p {
    margin-bottom: 0;
  }

  .left-sidebar {
    left: 0;
    min-width: 240px;
  }

  .left-sidebar,
  .right-sidebar {
    margin: 0;
    background: unset;
    border-right: 1px solid $border-color;
    // overflow: auto;
    bottom: 0;
    height: unset;
    background: $white-bg;
    z-index: 0;

    .sub-title {
      font-size: 14px;
      padding: 20px 15px;
      border-bottom: 1px solid $border-color;
      font-weight: 600;
    }

    .wrapper {
      position: relative;
      height: 100%;
    }
  }

  .left-item {
    overflow: auto;
    max-height: calc(100vh - 110px);

    .main-title {
      border-bottom: 1px solid $border-color;
      font-size: 14px;
      padding: 18px 5px;
      font-weight: 600;
      margin: 0 10px;
    }

    li {
      border-bottom: 1px solid $border-color;
      width: 92%;
      margin: 0 auto;
      padding: 13px 5px;
      position: relative;

      &:hover {
        background: $light-gray-bg;
      }
    }

    .img {
      max-width: 50px;
      width: 30%;
    }

    .title {
      margin-left: 20px;
      line-height: 1.31;
      font-size: 12px;
      width: 70%;
      word-break: break-all;
    }

    .ago {
      line-height: 1.31;
      font-size: 10px;
      font-style: italic;
    }

    .link {
      line-height: 1.31;
      font-size: 12px;
      font-style: italic;
      text-decoration: underline;
    }

    .clear-all {
      font-size: 12px;
      float: right;
      font-style: italic;
      color: #6b6a6a;
      cursor: pointer;
    }
  }

  .right-sidebar {
    width: 317px;
    min-width: 317px;
    border-left: 1px solid $border-color;

    .right-item {
      overflow: hidden;
      border-bottom: 1px solid $border-color;
      padding-bottom: 8px;
      margin: 0 auto;
      padding: 0 10px 8px 10px;

      &:last-child {
        border-bottom: 0;
      }

      .main-title {
        font-size: 14px;
        padding: 18px 0;
        font-weight: 600;
        margin: 0;
      }

      li {
        width: 50%;
        float: left;
        margin-bottom: 10px;
        max-width: 130px;
        position: relative;

        &:nth-child(odd) {
          float: right;
        }

        button {
          width: 100%;
          border-color: $border-color;
          color: $secondary-txt;
          border-radius: 2px;
          padding: 10px;
          height: 37px;

          &:hover,
          &.active {
            border-color: $black-border;
            color: $primary-txt;
            background: transparent;
          }

          &.btn-tooltip {
            width: 12px;
            height: 12px;
            border-radius: 50px;
            padding: 0;
            font-size: 7px;
            border-color: $black-border;
            position: absolute;
            top: -5px;
            right: -5px;
          }
        }
      }
    }

    .function-btn {
      li {
        width: 50%;
        float: left;
        margin-bottom: 10px;
        max-width: 130px;

        &:nth-child(even) {
          float: right;
        }
      }

      button {
        width: 100%;
        border-color: $border-color;
        color: $secondary-txt;
        border-radius: 2px;
        height: 37px;

        &:hover,
        &.active {
          border-color: $black-border;
          color: $primary-txt;
        }
      }
    }

    .function-btn {
      clear: both;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid $border-color;
      background: #fff;

      li {
        margin: 0;
        padding: 10px;

        button {
          &:hover {
            background: transparent;
          }
        }

        .btn-primary {
          color: $white-txt;

          &:hover {
            color: $black-txt;
          }
        }
      }
    }
  }

  .content-render {
    width: calc(100% - 240px);
    display: block;
    margin-left: 240px;
    // margin-top: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    height: 90%;
    overflow: auto;

    .wrapper-img {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      bottom: 0;
      height: 100%;

      .main-img {
        // max-width: 1050px;
        width: auto;
        height: 100%;
        display: inline-block;
        margin: 0 auto;
        background-size: cover;

        &.bg-cover {
          background-size: cover;
        }

        img {
          opacity: 0;
          width: auto;
          height: 100%;
        }
      }

      #openseadragon {
        cursor: grab;
      }
    }

    .main-img-wrapper {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      background: #fff;
    }

    .range-slider {
      justify-content: center;
      padding-top: 10px;
      position: absolute;
      bottom: 0;
      background: #fff;

      img {
        max-width: 20px;
        height: 20px;
        margin-right: 20px;
        display: block;
      }

      .rc-slider {
        max-width: 127px;
        padding-top: 7px;

        .rc-slider-handle-1 {
          display: none;
        }

        .rc-slider-handle {
          border-color: $black-border;
          background: $black-bg;
          box-shadow: unset;
          width: 10px;
          height: 10px;
        }

        .rc-slider-step,
        .rc-slider-track,
        .rc-slider-rail {
          height: 1px;
          background: $black-bg;
          border-radius: unset;
        }
      }

      span {
        padding: 0 10px;
        font-size: 16px;
      }
    }
  }

  .content-panorama {
    width: calc(100% - 240px);
    display: block;
    margin-left: 240px;
    margin-top: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    height: 90%;
    overflow: auto;

    .left-item .img {
      max-width: 35px;
    }

    .panorama-view-iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      border: none;
    }
  }
}

.right-sidebar-render {
  margin: 0;
  background: unset;
  border-right: 1px solid $border-color;
  overflow: auto;
  bottom: 0;
  background: $white-bg;
  z-index: 0;

  .sub-title {
    font-size: 14px;
    padding: 20px 15px;
    border-bottom: 1px solid $border-color;
    font-weight: 600;
  }

  .wrapper {
    position: relative;
    height: 100%;
  }

  width: 317px;
  min-width: 317px;
  border-left: 1px solid $border-color;

  .right-item {
    overflow: hidden;
    border-bottom: 1px solid $border-color;
    padding-bottom: 8px;
    margin: 0 auto;
    padding: 0 10px 8px 10px;
    width: 100%;

    &:last-child {
      border-bottom: 0;
    }

    .main-title {
      font-size: 14px;
      padding: 18px 0;
      font-weight: 600;
      margin: 0;
    }

    li {
      width: 50%;
      float: left;
      margin-bottom: 10px;
      max-width: 130px;
      position: relative;

      &:nth-child(odd) {
        float: right;
      }

      button {
        width: 100%;
        border-color: $border-color;
        color: $secondary-txt;
        border-radius: 2px;
        padding: 10px;
        height: 37px;

        &:hover,
        &.active {
          border-color: $black-border;
          color: $primary-txt;
          background: transparent;
        }

        &.active {
          &:after {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            background: url('/img/success-btn.png') no-repeat;
            background-size: contain;
            bottom: -3px;
            right: -6px;
          }
        }

        &.btn-tooltip {
          width: 12px;
          height: 12px;
          border-radius: 50px;
          padding: 0;
          font-size: 7px;
          border-color: $black-border;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }

  .function-btn {
    li {
      width: 50%;
      float: left;
      margin-bottom: 10px;
      max-width: 130px;

      &:nth-child(even) {
        float: right;
      }
    }

    button {
      width: 100%;
      border-color: $border-color;
      color: $secondary-txt;
      border-radius: 2px;
      height: 37px;

      &:hover,
      &.active {
        border-color: $black-border;
        color: $primary-txt;
      }
    }
  }

  .block-option {
    display: inline-block;
    width: 100%;
    height: calc(100vh - 130px);
    overflow-y: auto;
  }

  .function-btn {
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $border-color;
    background: #fff;

    li {
      margin: 0;
      padding: 10px;

      button {
        &:hover {
          background: transparent;
        }
      }

      .btn-primary {
        color: $white-txt;

        &:hover {
          color: $black-txt;
        }
      }
    }
  }

  position: fixed;
  height: 100%;
  right: -320px;
  transition: right .3s;

  &.active {
    right: 0;
  }
}


.custom-alert-ui {
  text-align: center;
  width: 500px;
  padding: 40px;
  // background: rgb(54,215,183);
  // background: #28bae6;
  background: #fff;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
  color: #000;

  >h1 {
    margin-top: 0;
  }

  >button {
    width: 160px;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #000;
    font-size: 14px;
  }
}


@keyframes pulseone {

  0%,
  100% {
    transform: scale(1);
  }

  66% {
    transform: scale(.9);
  }
}

// iframe-render
.iframe-render {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;

  iframe {
    width: 100%;
    height: 100%;
  }
}
