.topnavbar {
  background-color: #505050;
  background-image: linear-gradient(to right, #505050 0%, #757c7e 100%);
}

.sidebar-nav > li.active,
.sidebar-nav > li.active > a,
.sidebar-nav > li.active > .nav-item,
.sidebar-nav > li.active .sidebar-nav,
.sidebar-nav > li.open,
.sidebar-nav > li.open > a,
.sidebar-nav > li.open > .nav-item,
.sidebar-nav > li.open .sidebar-nav,
.sidebar-nav > li.active > .nav-item > em,
.sidebar-nav > li.active > a > em,
.sidebar-nav > li.open > .nav-item > em,
.sidebar-nav > li.open > a > em,
.topnavbar .navbar-nav > .nav-item > .nav-link:hover,
.topnavbar .navbar-nav > .nav-item > .nav-link:focus,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:hover,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
  color: #505050;
}

.sidebar-nav > li > a:focus,
.sidebar-nav > li > a:hover,
.sidebar-nav > li > .nav-item:focus,
.sidebar-nav > li > .nav-item:hover {
  color: #757c7e;
}

.sidebar-nav > li.active {
  border-left-color: #505050;
}

.underlined {
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

a {
  cursor: pointer;
}

.dp-flex-w-sbt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.align-i-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.plan,
.plan__body {
  position: relative;
}

.plan__cell {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}

.plan__body {
  height: 165px;
  margin-bottom: 20px;
}

@media (min-width: 515px) {
  .plan__body {
    min-height: 160px;
  }
}

.plan__add {
  position: relative;
  width: 100%;
  height: 100%;
}

.plan__add:after,
.plan__add:before {
  top: 50%;
  left: 50%;
  content: " ";
}

.plan__add:before {
  position: absolute;
  border-left: 2px solid #505050;
  height: 100px;
  margin-top: -50px;
}

.plan__add:after {
  position: absolute;
  width: 100px;
  margin-left: -50px;
  border-bottom: 2px solid #505050;
}

.plan__title {
  color: #757575;
  white-space: nowrap;
  height: 3rem;
  line-height: 3rem;
  font-size: 17px;
}

.plan__thumb {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.plan__empty {
  background-repeat: repeat;
  border: 2px dashed #505050;
}

.plan__overlay {
  display: flex;
  align-items: center;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  position: absolute;
  left: -15px;
  top: -15px;
  opacity: 0;
  z-index: 2;
  border: none;
  transition: all ease-in-out 250ms;
  background-color: rgba(0, 0, 0, 0.4);
}

.plan__overlay:hover {
  opacity: 1;
}

.plan__overlay img {
  height: auto;
}

.plan__overlay_visual {
  display: block;
  max-width: 100%;
  opacity: 0.7;
  border: none;
}

.plan__overlay_body {
  display: inline-block;
  z-index: 3;
  text-align: center;
  width: 100%;
}

.plan__overlay_body .icon {
  display: inline-block;
  font-size: 24px;
  margin: 0 2px;
  cursor: pointer;
  color: #fff;
}

.plan__open {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.plan-list__action {
  width: 18px;
  height: 18px;
  display: inline-block;
  padding: 10px;
}

.plan-list__action a {
  display: inline-block;
}

.plan-list__action svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.hint {
  display: inline;
  position: relative;
}

.hint:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  bottom: 35px;
  color: #fff;
  content: attr(data-title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  font-size: 12px;
}

.plan__overlay_open {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin-top: 5px;
}

.plan__overlay--triangle {
  display: inline-block;
  position: relative;
}

.plan__overlay--triangle:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: -15px;
  top: 40%;
  border: 5px solid transparent;
  border-left-color: #505050;
  border-left-width: 6px;
}

.plan__title {
  color: #757575;
  white-space: nowrap;
  height: 3rem;
  line-height: 3rem;
  font-size: 17px;
}

.plan--new .plan__title {
  text-align: center;
}

.plan__title input {
  background: 0 0;
  border: 0;
  padding: 0;
  box-shadow: none !important;
  color: #757575;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
  width: 100%;
}

.plan__title input::-webkit-input-placeholder {
  color: #ccc;
  opacity: 0.8;
}

.plan__title input:-moz-placeholder {
  color: #ccc;
  opacity: 0.8;
}

.plan__title input::-moz-placeholder {
  color: #ccc;
  opacity: 0.8;
}

.plan__title input:-ms-input-placeholder {
  color: #ccc;
  opacity: 0.8;
}

.plan__title input:focus {
  box-shadow: 0 1px 0 0 #505050;
  border-bottom: 1px solid #505050;
}

.plan__title:disabled {
  background: 0 0;
  opacity: 0.5;
}

.list {
  margin-left: 0;
  margin-right: 0;
}

.list__cell {
  border: 1px solid #f1f1f1;
  margin-right: -1px;
  margin-bottom: -1px;
}

.square-spin > div {
  border-color: #757c7e;
  background-color: #757c7e;
}

.loading-component {
  height: 100%;
  position: absolute;
  width: 100%;
  background: rgba(200, 200, 200, 0.6);
  z-index: 9;
}

#editor-content {
  width: 100%;
  height: calc(100vh - 152px);
}

.actionbar-btn {
  display: block;
}

.actionbar-btn img,
.close-btn img {
  width: 3.8rem;
  height: 3.8rem;
  cursor: pointer;
}

.btn-top-block {
  position: relative;
}

.btn-top-block .interaction-btns--expanded {
  display: flex;
  justify-content: center;
}

.btn-top-block .close-btn {
  position: fixed;
  top: 0;
  right: 15px;
}

.btn-top-block .close-btn img {
  max-width: 2rem;
  cursor: pointer;
}

.btn-top-block .add-btn {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
  -webkit-animation: none;
          animation: none;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 200;
  background: #dd1818;
  border-radius: 100%;
}

.btn-top-block .add-btn:hover {
  -webkit-animation: pulseone 1.8s 0s infinite;
          animation: pulseone 1.8s 0s infinite;
}

.btn-top-block .add-btn:before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  z-index: -1;
}

.btn-top-block .add-btn svg {
  width: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 4px;
  fill: #fff;
}

.btn-bt-block .total-area {
  font-size: 18px;
  color: #000;
}

.btn-bt-block .left {
  position: absolute;
  bottom: 10px;
  left: 2rem;
}

.btn-bt-block .left .interaction-btns--expanded {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.btn-bt-block .left .actionbar-btn img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.btn-bt-block .right .interaction-btns--expanded {
  display: flex;
  justify-content: center;
}

.btn-bt-block .right svg {
  width: 3.8rem;
  height: 3.8rem;
  cursor: pointer;
}

.btn-bt-block .right .actionbar-btn path {
  fill: #000;
}

.btn-bt-block .right .actionbar-btn.active path {
  fill: red;
}

.btn-bt-block .range-slider-button {
  display: block;
  position: absolute;
  top: -8px;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem 0;
  margin: 0;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  background: 0 0;
  text-align: center;
  outline: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-bt-block .range-slider-button.left {
  left: -30px;
}

.btn-bt-block .range-slider-button.right {
  right: -30px;
  left: unset;
}

.btn-bt-block .range-slider-button.right:after {
  content: "";
  display: block;
  width: 1px;
  height: 1rem;
  background-color: #2f2f2f;
  position: absolute;
  left: 0.5rem;
  top: 0;
}

.btn-bt-block .range-slider-button:before {
  content: "";
  display: block;
  width: 1rem;
  height: 1px;
  background-color: #2f2f2f;
}

.btn-bt-block input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

.btn-bt-block input[type=range]:focus {
  outline: none;
}

.btn-bt-block input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #000;
  border: 0px solid #000101;
}

.btn-bt-block input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.btn-bt-block .form-group {
  margin-bottom: 0;
  position: relative;
  margin-left: 3rem;
  width: 150px;
}

.btn-bt-block .logo {
  width: 90px;
  position: absolute;
  bottom: 10px;
  right: 2rem;
}

.btn-bt-block .logo img {
  width: 100%;
}

.btn-feature .default-btn {
  border: none;
  background: #000;
  padding: 5px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  position: relative;
  margin: 0 2px;
  cursor: pointer;
}

.btn-feature .default-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
}

.modal-backdrop {
  display: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.35);
}

.modal .modal-header .close {
  margin: 0;
  padding: 0;
}

.modal .modal-header .lock-session i {
  color: #000;
  cursor: pointer;
}

.modal .modal-header .lock-session .fa-lock {
  display: none;
  margin-top: 3px;
}

.modal .modal-header .lock-session.active .fa-lock-open {
  display: none;
}

.modal .modal-header .lock-session.active .fa-lock {
  display: block;
}

.modal .modal-content {
  border-radius: 0;
}

.modal .modal-dialog {
  width: 80%;
  max-width: 800px;
}

.modal .modal-body p.title {
  font-size: 25px;
  color: #000;
}

.modal .modal-body label {
  margin-bottom: 0;
  color: #000;
}

.modal .modal-body input {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-radius: 0;
  padding-top: 2px;
  height: 1.5rem;
}

.modal .modal-body .disable {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal .modal-footer .btn-default {
  background-color: #fff;
  border-color: #ccc;
}

.modal .modal-footer .btn-default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.modal .modal-footer .btn-danger {
  background: #000;
  border-color: transparent;
}

.modal .modal-footer .btn-danger:hover {
  opacity: 0.7;
}

.modal .color-block {
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid #dde6e9;
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-right: 0;
  padding-left: 0;
}

.modal .color-block p {
  font-size: 20px;
  margin-bottom: 0;
  color: #000;
}

.modal .material-option-selected {
  position: relative;
  padding-right: 13px;
}

.modal .p-material-picker-selected {
  margin-right: 5px;
}

.modal .p-material-picker-material {
  width: 50px;
  height: 50px;
  font-size: 0;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid rgba(211, 211, 211, 0.8);
  background-size: contain;
  background-position: center center;
}

.modal .material-option-selected .nav-triangle {
  position: absolute;
  width: 13px;
  top: 1.4rem;
  right: 0;
  height: 13px;
  display: block;
}

.modal .material-option-selected .nav-triangle:after {
  position: absolute;
  top: 2px;
  left: 0;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 9px;
  height: 9px;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  content: " ";
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.detail-render {
  background-color: #f5f7fa;
  position: absolute;
  width: 240px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 201;
}

.detail-render .object-list {
  margin-top: 20px;
}

.detail-render p {
  color: #000;
  font-size: 16px;
}

.detail-render .material-section-wrapper {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  background: rgba(239, 237, 237, 0.9);
}

.detail-render .material-section {
  display: inline-block;
  height: 32px;
  width: 14%;
  margin-bottom: 5px;
}

.detail-render .material-section.active .material-wrapper {
  border: 1px solid #000;
}

.detail-render .material-wrapper {
  display: block;
  max-width: 32px;
  height: 32px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 100%;
}

.detail-render .material-wrapper-item {
  background-color: #f5f5f5;
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #d3d3d3;
  transition: background-color 0.2s ease-in-out;
}

.detail-render .banner-info {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  max-width: 300px;
  height: 100%;
}

.detail-render .banner {
  width: 100%;
  width: 61px;
  height: 100%;
  border-right: 1px solid #e5e5e5;
}

.detail-render .banner img {
  width: 100%;
}

.detail-render .row {
  margin-bottom: 3px;
}

.detail-render .row:last-child .text p {
  border-bottom: 3px solid #000;
}

.detail-render .row .bg-white {
  background: #fff;
  width: 100%;
  margin: 0 15px;
}

.detail-render .row .bg-white .text {
  float: left;
  padding: 0;
  margin-bottom: 10px;
}

.detail-render .row .bg-white .number {
  float: right;
  margin-bottom: 10px;
}

.detail-render .row .bg-white .number p {
  margin-bottom: 0;
  padding: 8px 10px;
}

.detail-render .text p {
  background: #fff;
  height: 100%;
  margin-bottom: 0;
  padding: 8px 10px;
}

.detail-render .number {
  position: relative;
}

.detail-render .number select {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  color: #fff;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
}

.detail-render .icon-arrow-down {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  cursor: pointer;
}

.detail-render .icon-arrow-down:before {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.detail-render .render-content .default-btn {
  border: none;
  background: #000;
  padding: 5px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  position: relative;
  margin: 0 2px;
  cursor: pointer;
}

.detail-render .render-content .default-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
}

.detail-render .render-content .delete {
  position: absolute;
  display: block;
  z-index: 99;
  bottom: 65%;
  left: 37%;
}

.detail-render .render-content .ar {
  z-index: 100;
  position: absolute;
  bottom: 60px;
  left: 50%;
  text-align: center;
  margin-left: -53px;
}

.detail-render .render-content .ar span {
  font-size: 8px;
  color: #fff;
  position: absolute;
  bottom: 2px;
  z-index: 10;
}

.detail-render .close-btn {
  position: absolute;
  top: 0;
  left: 15px;
  display: block;
  z-index: 999;
  width: 13px;
  display: block;
}

.detail-render .close-btn i {
  color: #070404;
}

.detail-render .close-btn img {
  width: 100%;
  min-height: auto;
  height: auto;
  cursor: pointer;
}

/* width */

::-webkit-scrollbar {
  width: 3px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.import-object {
  background: #fff;
}

.import-object .banner-info {
  width: 300px;
}

.import-object .content-info {
  position: absolute;
  width: 100%;
  top: 0;
  left: 61px;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.import-object .content-info .title {
  cursor: pointer;
  width: 100%;
}

.import-object .content-info i {
  color: #070404;
  padding-right: 15px;
}

.import-object .content-info img {
  width: 100%;
}

.import-object .cat-item-content {
  padding-bottom: 1.5rem;
}

.import-object .cat-item-content .title {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-transform: none;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
  font-size: 2rem;
  font-weight: 300;
}

.import-object .cat-item-content:first-child .title {
  border-top: none;
}

.import-object .object-item-content {
  font-size: 17px;
  color: #2f2f2f;
  text-align: center;
  cursor: pointer;
  padding: 0;
}

.import-object .object-item-img {
  margin-bottom: 15px;
}

/*------------------ Global layout ---------------- */

.editor-wrap {
  position: relative;
  width: 100%;
}

.editor-wrap .visibility-hidden {
  visibility: hidden;
  z-index: -1;
}

.editor-wrap .display-hidden {
  display: none;
}

.editor-wrap > div {
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  top: 60px;
  overflow: hidden;
  background: #fff;
}

/*------------------ Menu ---------------- */

.content-menu .menu-editor .dropdown-menu {
  margin-top: 0;
}

.content-menu .menu-editor .dropdown-menu .overlay {
  top: 60px;
}

.content-menu .menu-editor .dropdown-menu img {
  width: 100%;
}

.content-menu .menu-editor .dropdown-menu .product-image {
  padding: 0;
  align-items: center;
  display: flex;
}

.content-menu .login {
  background: url(/img/ic_signin.png) no-repeat;
  width: 20px;
  height: 18px;
  background-size: contain;
}

.content-menu .cart .btn-primary {
  height: 43px;
  padding: 0;
  padding: 6px 12px;
}

.content-menu .new {
  width: 15px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background: #f00;
  border-radius: 50%;
  position: absolute;
  right: -17px;
  top: 10px;
  text-align: center;
  color: #fff;
  font-size: 11px;
}

.content-menu .menu-right .ic-render {
  width: 40px;
  height: 20px;
}

.content-menu .menu-right .ic-render a {
  display: block;
  height: 100%;
  padding: 0;
}

.editor.container {
  padding-right: 15px;
  padding-left: 15px;
}

.menu-editor {
  border: 1px solid #e5e5e5;
  max-height: 60px;
  width: unset !important;
  z-index: 1;
  background: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
}

.menu-editor .menu-left,
.menu-editor .menu-right {
  flex-wrap: nowrap;
}

.menu-editor .menu-left img,
.menu-editor .menu-right img {
  width: 50%;
}

.menu-editor li a {
  padding: 19px 0;
  display: block;
  height: 100%;
}

.menu-editor .menu-left li:first-child a,
.menu-editor .menu-left li:nth-child(2) a {
  border-right: 1px solid #e5e5e5;
}

.menu-editor .menu-left {
  width: 90%;
}

.menu-editor .menu-left li {
  width: 50px;
}

.menu-editor .menu-left li:first-child {
  width: 60px;
}

.menu-editor .menu-left li:nth-child(2) {
  width: 60px;
}

.menu-editor .menu-left img {
  max-width: 19px;
  margin: 0 auto;
  display: block;
}

.menu-editor .menu-center {
  max-width: 280px;
}

.menu-editor .menu-center li a:active,
.menu-editor .menu-center li a.active {
  display: inline-block;
  position: relative;
}

.menu-editor .menu-center li a:active:after,
.menu-editor .menu-center li a.active:after {
  width: 100%;
  transition: width 0.3s;
  position: absolute;
  content: "";
  border-bottom: 2px solid #000000;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-editor .menu-right {
  max-width: 336px;
  justify-content: flex-end;
  padding-right: 10px;
}

.menu-editor .menu-right li.dropdown {
  border-right: 1px solid #e5e5e5;
  padding-right: 13px;
}

.menu-editor .menu-right li.dropdown .caret {
  border: 0;
  background: url("/img/single-arrow.png") no-repeat;
  width: 13px;
  height: 8px;
  background-size: contain;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 5px;
}

.menu-editor .menu-right li a {
  padding: 22px 0;
}

.menu-editor .menu-right li a img {
  float: right;
}

.menu-editor .menu-right li.account {
  background: url("/img/ic_account.png") no-repeat;
  width: 57px;
  height: 20px;
  background-size: contain;
  border-right: none;
  padding: 0;
}

.menu-editor .menu-right li.account .caret {
  display: none;
}

.menu-editor .menu-right li.account .dropdown-menu {
  left: unset;
  right: 0;
}

.menu-editor .menu-right .dropdown-menu li a {
  padding: 4px 20px;
}

.menu-editor .menu-right #basic-nav-dropdown {
  padding: 0;
  width: 54px;
  text-align: right;
  line-height: 20px;
}

.menu-editor .overlay {
  z-index: 99;
  top: 60px;
}

.menu-editor .cart-wrapper .cart .dropdown-menu {
  z-index: 999;
}

.menu-sidebar.modal {
  max-width: 100%;
  box-shadow: 5px 0 10px;
}

.menu-sidebar.modal.fade {
  transition: opacity 0.15s linear, -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.15s linear;
  transition: transform 0.3s ease-out, opacity 0.15s linear, -webkit-transform 0.3s ease-out;
}

.menu-sidebar.modal.fade .modal-dialog {
  transition: none;
}

.menu-sidebar.modal.fade:not(.in).left {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.menu-sidebar.modal.fade:not(.in).right {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.menu-sidebar.modal.left {
  right: auto;
}

.menu-sidebar.modal.right {
  left: auto;
}

.menu-sidebar.modal .modal-dialog {
  margin: 0;
  width: auto;
}

.menu-sidebar.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.menu-sidebar.modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}

.menu-sidebar.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.menu-sidebar.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.menu-sidebar .nav {
  width: 320px;
}

.loader-wrapper {
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  opacity: 1;
}

.css-17os3md {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader-3d {
  margin: 0 auto;
}

/*------------------ Left Sidebar ---------------- */

.left-sidebar,
.right-sidebar {
  margin-left: -15px;
  margin-right: -15px;
  position: fixed;
  top: 60px;
  height: 100%;
  width: 240px !important;
}

.left-sidebar {
  z-index: 99;
  left: 15px;
}

.left-sidebar .sidebar {
  position: absolute;
  z-index: -1 !important;
  top: 0;
  background: #ffffff;
  visibility: hidden;
  transition: all 0.2s linear;
  left: -100%;
  width: 240px !important;
  bottom: 0;
}

.left-sidebar .expand-btn.active .sidebar {
  left: 100% !important;
  background: #ffffff;
  visibility: visible;
  transition: all 0.2s linear;
}

.left-sidebar .icon-block {
  background: #fff;
  height: 100%;
  justify-content: flex-start;
  border-right: 1px solid #e5e5e5;
}

.left-sidebar li {
  display: block;
  padding: 10px 0;
}

.left-sidebar li .expand-btn {
  display: block;
  max-height: 25px;
}

.left-sidebar li .img-toggle {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.left-sidebar .sidebar {
  box-shadow: unset;
  border-right: 1px solid #e5e5e5;
}

.left-sidebar .sidebar .title {
  padding: 15px 10px;
}

.left-sidebar .sidebar .collapse-btn {
  background: url("/img/single-arrow.png") no-repeat;
  width: 13px;
  height: 12px;
  display: block;
  background-size: contain;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.left-sidebar .sidebar-content {
  padding: 0 10px;
  height: 100vh;
  overflow-y: auto;
}

.left-sidebar .sidebar-content ul li {
  width: 50%;
  margin: 0;
  padding: 5px;
  position: relative;
}

.left-sidebar .sidebar-content ul li.selected a {
  border-radius: 2px;
  box-shadow: 3px 3px 6px 0 rgba(92, 106, 114, 0.16);
}

.left-sidebar .sidebar-content ul li.selected:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(/img/success-btn.png) no-repeat;
  background-size: contain;
  bottom: 10px;
  right: 10px;
}

.left-sidebar .sidebar-content ul li a {
  display: block;
}

.left-sidebar .sidebar-content ul li a:hover {
  border-radius: 2px;
  box-shadow: 3px 3px 6px 0 rgba(92, 106, 114, 0.16);
}

.left-sidebar .breadcrumb li {
  margin: 0;
}

.left-sidebar .delete-item {
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 20px;
  height: 20px;
  background: url("/img/close.png") no-repeat;
  background-size: contain;
  z-index: 9;
}

.left-sidebar .draggable {
  opacity: 0.3;
}

.left-sidebar img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  user-select: none;
  user-drag: none;
}

.left-sidebar .list-group-item-action {
  padding: 10px;
}

.right-sidebar {
  position: fixed;
  height: 100%;
  right: -320px;
  transition: right 0.3s;
}

.right-sidebar.active {
  right: 0;
}

.right-sidebar .collapse-btn {
  position: absolute;
  right: 10px;
  top: 18px;
}

.right-sidebar .color-block a {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  position: relative;
}

.right-sidebar .color-block a img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.right-sidebar .expand-btn {
  text-align: center;
  display: block;
}

.right-sidebar .expand-btn .icon {
  position: relative;
}

.right-sidebar .expand-btn i {
  font-size: 20px;
  font-weight: lighter;
  padding: 15px 0;
  position: absolute;
  z-index: -1;
  right: -5px;
}

.right-sidebar .expand-btn.active .sidebar {
  right: 15px;
  background: #ffffff;
  visibility: visible;
  transition: all 0.2s linear;
  left: unset;
  z-index: 999;
}

.right-sidebar .sidebar {
  left: unset !important;
  box-shadow: unset;
  border: 1px solid #e5e5e5;
  border-right: none;
  border-bottom: none;
  border-top: none;
  position: absolute;
  z-index: -1 !important;
  top: 0;
  background: #ffffff;
  visibility: hidden;
  transition: all 0.2s linear;
  right: -100%;
  height: 100%;
  width: 300px;
}

.right-sidebar .sidebar .title {
  padding: 15px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.right-sidebar .sidebar .title h3 {
  font-size: 14px;
}

.right-sidebar .sidebar .sidebar-content {
  height: 80%;
  overflow-y: auto;
}

.right-sidebar .sidebar .sidebar-content .top-info {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 10px;
}

.right-sidebar .sidebar .sidebar-content .top-info .current-price {
  font-size: 12px;
  padding-right: 10px;
  margin: 0;
}

.right-sidebar .sidebar .sidebar-content .top-info .price {
  font-size: 10px;
  margin-bottom: 0;
  color: #4b4343;
  text-decoration: line-through;
}

.right-sidebar .sidebar .sidebar-content .img-info {
  position: relative;
}

.right-sidebar .sidebar .sidebar-content .img-info img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.right-sidebar .sidebar .sidebar-content .img-info .cart {
  width: 30px;
  height: 30px;
  position: relative;
  background: #ffffff;
  display: block;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  margin-right: 23px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.right-sidebar .sidebar .sidebar-content .img-info .cart:before {
  position: absolute;
  content: "";
  background: url(/img/cart.png) no-repeat;
  width: 15px;
  height: 16px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 52%;
  left: 50%;
  background-size: contain;
}

.right-sidebar .sidebar .sidebar-content .readmore:before {
  content: "";
  background: unset;
}

.right-sidebar .sidebar .sidebar-content .readmore:hover {
  text-decoration: underline;
}

.right-sidebar .sidebar .sidebar-content .collapse {
  width: 100%;
}

.right-sidebar .sidebar .sidebar-content .collapse-btn {
  transition: all 0.4s ease;
}

.right-sidebar .sidebar .sidebar-content .collapse-btn:active {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.right-sidebar .sidebar .sidebar-content .toggle-btn {
  cursor: pointer;
}

.right-sidebar .sidebar .sidebar-content .toggle-btn h3 {
  width: 100%;
  position: relative;
  text-align: left;
}

.right-sidebar .sidebar .sidebar-content .toggle-btn h3:before {
  position: absolute;
  content: "";
  background: url("/img/single-arrow.png") no-repeat;
  width: 13px;
  height: 12px;
  top: 0;
  right: 0;
  display: block;
  background-size: contain;
  background-position: right;
  transition: all 0.4s ease;
}

.right-sidebar .sidebar .sidebar-content .toggle-btn.active h3:before {
  position: absolute;
  content: "";
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  background: url("/img/single-arrow.png") no-repeat;
  width: 13px;
  height: 12px;
  top: 0;
  right: 0;
  display: block;
  background-size: contain;
  background-position: right;
  transition: all 0.4s ease;
}

.right-sidebar .sidebar .sidebar-content .toggle-btn.active .collapse {
  width: 100%;
  max-height: 100vh;
  display: block;
  overflow: visible;
  transition: max-height 0.4s ease;
}

.right-sidebar .sidebar .sidebar-content .toggle-btn .collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.right-sidebar .sidebar--opening {
  right: 15px;
  width: 300px !important;
}

.right-sidebar .sidebar--closing,
.right-sidebar .sidebar--opening {
  transition: right 0.2s ease-out;
}

.sidebar__touchbox {
  width: unset !important;
}

.collapse-btn {
  background: url("/img/single-arrow.png") no-repeat;
  width: 13px;
  height: 12px;
  display: block;
  background-size: contain;
  background-position: right;
}

.well {
  background: none !important;
  background-image: unset !important;
  border: none !important;
  box-shadow: none !important;
  padding: 15px 0 0 0 !important;
  margin-bottom: 0 !important;
  font-size: 12px !important;
  color: #4b4343;
  text-align: left;
  transition: all 0.4s ease;
}

.well .color-block a {
  -webkit-transform: unset !important;
          transform: unset !important;
  max-width: 40px !important;
  width: 20% !important;
  height: 40px !important;
  position: relative !important;
  margin-right: 20px !important;
  margin-bottom: 10px !important;
}

.well .color-block a.active {
  background: #ffffff;
  opacity: 0.5;
  z-index: 0;
}

.well .color-block a.active:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 16px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 11px;
  left: 17px;
  z-index: 999;
}

.well .form-group {
  margin-bottom: 0;
  position: relative;
}

.well .form-group .caret {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.well .form-group .form-control {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
}

/*------------------ 3D render ---------------- */

canvas {
  width: 100%;
  height: 100%;
}

.dropdown-toggle {
  color: #070404;
}

.dropdown-toggle::after {
  display: none;
}

.cart-wrapper .cart {
  background: url("/img/cart.png") no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
  position: relative;
  margin: 0 40px;
}

.cart-wrapper .cart .icon-cart {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

.cart-wrapper .cart .dropdown-menu {
  z-index: unset;
  min-width: 285px !important;
  left: -255px;
  padding: 10px 15px 20px 15px;
  max-height: 80vh;
  overflow-y: auto;
}

.real-editor {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/*------------------ Swap Modal ---------------- */

.swap-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.swap-modal-wrap {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.swap-modal-close {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.swap-modal-content {
  background-color: #fff;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.swap-modal-item {
  text-align: center;
  position: relative;
  cursor: pointer;
}

.swap-modal-item:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 157px;
  background-color: rgba(40, 47, 54, 0.15);
}

.swap-modal-img {
  padding-bottom: 17px;
}

.swap-modal-img img {
  width: auto;
  height: 77px;
  margin: 0 auto;
}

.swap-modal-name {
  font-family: "ProximaNova";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #070404;
  padding-bottom: 8px;
}

.swap-modal-price {
  font-family: "ProximaNova";
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #070404;
  padding-bottom: 12px;
}

.swap-modal-price .old {
  opacity: 0.65;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #4b4343;
  padding-left: 6px;
  text-decoration: line-through;
}

/*------------------ Render ---------------- */

.render p {
  margin-bottom: 0;
}

.render .left-sidebar {
  left: 0;
  min-width: 240px;
}

.render .left-sidebar,
.render .right-sidebar {
  margin: 0;
  background: unset;
  border-right: 1px solid #e5e5e5;
  bottom: 0;
  height: unset;
  background: #ffffff;
  z-index: 0;
}

.render .left-sidebar .sub-title,
.render .right-sidebar .sub-title {
  font-size: 14px;
  padding: 20px 15px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 600;
}

.render .left-sidebar .wrapper,
.render .right-sidebar .wrapper {
  position: relative;
  height: 100%;
}

.render .left-item {
  overflow: auto;
  max-height: calc(100vh - 110px);
}

.render .left-item .main-title {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 18px 5px;
  font-weight: 600;
  margin: 0 10px;
}

.render .left-item li {
  border-bottom: 1px solid #e5e5e5;
  width: 92%;
  margin: 0 auto;
  padding: 13px 5px;
  position: relative;
}

.render .left-item li:hover {
  background: #f5f5f5;
}

.render .left-item .img {
  max-width: 50px;
  width: 30%;
}

.render .left-item .title {
  margin-left: 20px;
  line-height: 1.31;
  font-size: 12px;
  width: 70%;
  word-break: break-all;
}

.render .left-item .ago {
  line-height: 1.31;
  font-size: 10px;
  font-style: italic;
}

.render .left-item .link {
  line-height: 1.31;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
}

.render .left-item .clear-all {
  font-size: 12px;
  float: right;
  font-style: italic;
  color: #6b6a6a;
  cursor: pointer;
}

.render .right-sidebar {
  width: 317px;
  min-width: 317px;
  border-left: 1px solid #e5e5e5;
}

.render .right-sidebar .right-item {
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 8px;
  margin: 0 auto;
  padding: 0 10px 8px 10px;
}

.render .right-sidebar .right-item:last-child {
  border-bottom: 0;
}

.render .right-sidebar .right-item .main-title {
  font-size: 14px;
  padding: 18px 0;
  font-weight: 600;
  margin: 0;
}

.render .right-sidebar .right-item li {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  max-width: 130px;
  position: relative;
}

.render .right-sidebar .right-item li:nth-child(odd) {
  float: right;
}

.render .right-sidebar .right-item li button {
  width: 100%;
  border-color: #e5e5e5;
  color: #4b4343;
  border-radius: 2px;
  padding: 10px;
  height: 37px;
}

.render .right-sidebar .right-item li button:hover,
.render .right-sidebar .right-item li button.active {
  border-color: #000000;
  color: #070404;
  background: transparent;
}

.render .right-sidebar .right-item li button.btn-tooltip {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  padding: 0;
  font-size: 7px;
  border-color: #000000;
  position: absolute;
  top: -5px;
  right: -5px;
}

.render .right-sidebar .function-btn li {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  max-width: 130px;
}

.render .right-sidebar .function-btn li:nth-child(even) {
  float: right;
}

.render .right-sidebar .function-btn button {
  width: 100%;
  border-color: #e5e5e5;
  color: #4b4343;
  border-radius: 2px;
  height: 37px;
}

.render .right-sidebar .function-btn button:hover,
.render .right-sidebar .function-btn button.active {
  border-color: #000000;
  color: #070404;
}

.render .right-sidebar .function-btn {
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e5e5e5;
  background: #fff;
}

.render .right-sidebar .function-btn li {
  margin: 0;
  padding: 10px;
}

.render .right-sidebar .function-btn li button:hover {
  background: transparent;
}

.render .right-sidebar .function-btn li .btn-primary {
  color: #ffffff;
}

.render .right-sidebar .function-btn li .btn-primary:hover {
  color: #070404;
}

.render .content-render {
  width: calc(100% - 240px);
  display: block;
  margin-left: 240px;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  height: 90%;
  overflow: auto;
}

.render .content-render .wrapper-img {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: 0;
  height: 100%;
}

.render .content-render .wrapper-img .main-img {
  width: auto;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
  background-size: cover;
}

.render .content-render .wrapper-img .main-img.bg-cover {
  background-size: cover;
}

.render .content-render .wrapper-img .main-img img {
  opacity: 0;
  width: auto;
  height: 100%;
}

.render .content-render .wrapper-img #openseadragon {
  cursor: -webkit-grab;
  cursor: grab;
}

.render .content-render .main-img-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
}

.render .content-render .range-slider {
  justify-content: center;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  background: #fff;
}

.render .content-render .range-slider img {
  max-width: 20px;
  height: 20px;
  margin-right: 20px;
  display: block;
}

.render .content-render .range-slider .rc-slider {
  max-width: 127px;
  padding-top: 7px;
}

.render .content-render .range-slider .rc-slider .rc-slider-handle-1 {
  display: none;
}

.render .content-render .range-slider .rc-slider .rc-slider-handle {
  border-color: #000000;
  background: #070404;
  box-shadow: unset;
  width: 10px;
  height: 10px;
}

.render .content-render .range-slider .rc-slider .rc-slider-step,
.render .content-render .range-slider .rc-slider .rc-slider-track,
.render .content-render .range-slider .rc-slider .rc-slider-rail {
  height: 1px;
  background: #070404;
  border-radius: unset;
}

.render .content-render .range-slider span {
  padding: 0 10px;
  font-size: 16px;
}

.render .content-panorama {
  width: calc(100% - 240px);
  display: block;
  margin-left: 240px;
  margin-top: 5px;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  height: 90%;
  overflow: auto;
}

.render .content-panorama .left-item .img {
  max-width: 35px;
}

.render .content-panorama .panorama-view-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
}

.right-sidebar-render {
  margin: 0;
  background: unset;
  border-right: 1px solid #e5e5e5;
  overflow: auto;
  bottom: 0;
  background: #ffffff;
  z-index: 0;
  width: 317px;
  min-width: 317px;
  border-left: 1px solid #e5e5e5;
  position: fixed;
  height: 100%;
  right: -320px;
  transition: right 0.3s;
}

.right-sidebar-render .sub-title {
  font-size: 14px;
  padding: 20px 15px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 600;
}

.right-sidebar-render .wrapper {
  position: relative;
  height: 100%;
}

.right-sidebar-render .right-item {
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 8px;
  margin: 0 auto;
  padding: 0 10px 8px 10px;
  width: 100%;
}

.right-sidebar-render .right-item:last-child {
  border-bottom: 0;
}

.right-sidebar-render .right-item .main-title {
  font-size: 14px;
  padding: 18px 0;
  font-weight: 600;
  margin: 0;
}

.right-sidebar-render .right-item li {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  max-width: 130px;
  position: relative;
}

.right-sidebar-render .right-item li:nth-child(odd) {
  float: right;
}

.right-sidebar-render .right-item li button {
  width: 100%;
  border-color: #e5e5e5;
  color: #4b4343;
  border-radius: 2px;
  padding: 10px;
  height: 37px;
}

.right-sidebar-render .right-item li button:hover,
.right-sidebar-render .right-item li button.active {
  border-color: #000000;
  color: #070404;
  background: transparent;
}

.right-sidebar-render .right-item li button.active:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("/img/success-btn.png") no-repeat;
  background-size: contain;
  bottom: -3px;
  right: -6px;
}

.right-sidebar-render .right-item li button.btn-tooltip {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  padding: 0;
  font-size: 7px;
  border-color: #000000;
  position: absolute;
  top: -5px;
  right: -5px;
}

.right-sidebar-render .function-btn li {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  max-width: 130px;
}

.right-sidebar-render .function-btn li:nth-child(even) {
  float: right;
}

.right-sidebar-render .function-btn button {
  width: 100%;
  border-color: #e5e5e5;
  color: #4b4343;
  border-radius: 2px;
  height: 37px;
}

.right-sidebar-render .function-btn button:hover,
.right-sidebar-render .function-btn button.active {
  border-color: #000000;
  color: #070404;
}

.right-sidebar-render .block-option {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 130px);
  overflow-y: auto;
}

.right-sidebar-render .function-btn {
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e5e5e5;
  background: #fff;
}

.right-sidebar-render .function-btn li {
  margin: 0;
  padding: 10px;
}

.right-sidebar-render .function-btn li button:hover {
  background: transparent;
}

.right-sidebar-render .function-btn li .btn-primary {
  color: #ffffff;
}

.right-sidebar-render .function-btn li .btn-primary:hover {
  color: #070404;
}

.right-sidebar-render.active {
  right: 0;
}

.custom-alert-ui {
  text-align: center;
  width: 500px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
  color: #000;
}

.custom-alert-ui > h1 {
  margin-top: 0;
}

.custom-alert-ui > button {
  width: 160px;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px;
  cursor: pointer;
  background: none;
  color: #000;
  font-size: 14px;
}

@-webkit-keyframes pulseone {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  66% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes pulseone {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  66% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.iframe-render {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.iframe-render iframe {
  width: 100%;
  height: 100%;
}

