<template>
  <div class="container">
    <div class="iframe-render">
      <!-- <iframe id="iframe-content" :src="URLBuilder + '?layoutid=' + layoutid" frameborder="0"></iframe> -->
    </div>
    <div class="btn-top-block">
      <div class="interaction-btns--expanded">
        <span class="actionbar-btn" @click="handleAction('previous')"><img :src="URLImgAssets + 'icon-svg/back.svg'" alt=""></span>
        <span class="actionbar-btn" @click="handleAction('next')"><img :src="URLImgAssets + 'icon-svg/previous.svg'" alt=""></span>
        <span class="actionbar-btn" @click="handleAction('add-text')"><img :src="URLImgAssets + 'icon-svg/text.svg'" alt=""></span>
        <span class="actionbar-btn" @click="handleAction('add-image')">
          <div class="ember-view">
            <form id="form-filedata" class="hidden"><input type="file" name="filedata" id="filedata" accept="image/*" class="hidden"></form>
            <div class="ember-view"><img :src="URLImgAssets + 'icon-svg/add-img.svg'" alt=""></div>
          </div>
        </span>
        <span class="actionbar-btn" @click="handleAction('add-ruler')"><img :src="URLImgAssets + 'icon-svg/ruler.svg'" alt=""></span>
        <span class="actionbar-btn" @click="handleAction('share')"><img :src="URLImgAssets + 'icon-svg/link.svg'" alt=""></span>
        <span class="actionbar-btn" @click="handleAction('question')"><img :src="URLImgAssets + 'icon-svg/info.svg'" alt=""></span>
        <span class="actionbar-btn" @click="handleAction('setting')"><img :src="URLImgAssets + 'icon-svg/setting.svg'" alt=""></span>
        <span class="actionbar-btn" @click="handleAction('print')"><img :src="URLImgAssets + 'icon-svg/file.svg'" alt=""></span>
      </div>
      <span class="close-btn actionbar-btn" @click="handleAction('close')"><img :src="URLImgAssets + 'icon-svg/close.svg'" alt=""></span>
      <span class="add-btn actionbar-btn" @click="toggleShowObjectImport">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <path d="M44.9 23.9H26.2V5.2c0-.6-.5-1-1-1H25c-.6 0-1 .5-1 1v18.5H5.3c-.6 0-1 .5-1 1v.2c0 .6.5 1 1 1H24v18.7c0 .6.5 1 1 1h.2c.6 0 1-.5 1-1V26.1h18.7c.6 0 1-.5 1-1v-.2c0-.6-.5-1-1-1z"></path>
          <path d="M44.9 23.9H26.2V5.2c0-.6-.5-1-1-1H25c-.6 0-1 .5-1 1v18.5H5.3c-.6 0-1 .5-1 1v.2c0 .6.5 1 1 1H24v18.7c0 .6.5 1 1 1h.2c.6 0 1-.5 1-1V26.1h18.7c.6 0 1-.5 1-1v-.2c0-.6-.5-1-1-1z"></path>
        </svg>
      </span>
    </div>
    <div class="btn-feature">
      <div class="interaction-btns--expanded">
        <!-- <button class="default-btn" data-toggle="modal" data-target="#info"><i class="fas fa-info"></i></button> -->
        <!-- <button class="default-btn"><i class="fas fa-home"></i></button> -->
        <!-- <button @click="toggleShowDetail" class="default-btn"><i class="fas fa-pen"></i></button> -->
        <!-- <button class="default-btn"><i class="fas fa-clone"></i></button> -->
        <!-- <button class="default-btn"><i class="fas fa-undo"></i></button> -->
        <!-- <button class="default-btn"><i class="fas fa-trash-alt"></i></button> -->
        <div class="modal fade" id="info" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="lock-session" :class="{ active: isActiveInfo }"  @click="isActiveInfo = !isActiveInfo">
                  <i class="fas fa-lock"></i>
                  <i class="fas fa-lock-open"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-7">
                    <p class="title">Entrance Door</p>
                    <img src="/img/door.png" alt="">
                  </div>
                  <div class="col-md-5" :class="{ disable: isActiveInfo }">
                    <div class="row mr-0 ml-0">
                      <div class="col-md-12 color-block">
                        <p>Color</p>
                        <div class="material-option-selected">
                          <span class="p-material-picker-material clickable p-material-picker-selected">
                          </span>
                          <span class="nav-triangle"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="xCoordinate">X Coordinate</label>
                          <input type="text" class="form-control" id="xCoordinate">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="yCoordinate">Y Coordinate</label>
                          <input type="text" class="form-control" id="yCoordinate">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="zCoordinate">Z Coordinate</label>
                          <input type="text" class="form-control" id="zCoordinate">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="scale">Scale</label>
                          <input type="text" class="form-control" id="scale">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="rotation">Rotation</label>
                          <input type="text" class="form-control" id="rotation">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="width">Width</label>
                          <input type="text" class="form-control" id="width">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="height">Height</label>
                          <input type="text" class="form-control" id="height">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="dept">Dept</label>
                          <input type="text" class="form-control" id="dept">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-bt-block">
      <div class="left">
        <p class="total-area">25 m<sup>2</sup></p>
        <div class="interaction-btns--expanded">
          <span @click="handleAction('full-screen')" class="actionbar-btn"><img :src="URLImgAssets + 'icon-svg/zoom.svg'" alt=""></span>
          <form>
            <div class="form-group">
              <span class="range-slider-button left"></span>
              <input type="range" class="form-control-range" id="formControlRange">
              <span class="range-slider-button right"></span>
            </div>
          </form>
        </div>
      </div>
      <div class="right">
        <!-- <div class="interaction-btns--expanded">
          <span @click="handleAction('change-view')" class="actionbar-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
              <path fill="currentColor" d="M33.78 34.38H16.22a.6.6 0 0 1-.6-.6V16.22a.6.6 0 0 1 .6-.6h17.56a.6.6 0 0 1 .6.6v17.56a.6.6 0 0 1-.6.6zm-17-1.2h16.4V16.82H16.82z"></path>
            </svg></span>
          <span @click="handleAction('change-view')" class="actionbar-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
              <path d="M35.64 18.88a.58.58 0 0 0-.07-.24v-.07a.59.59 0 0 0-.17-.15l-10.07-5.1a.6.6 0 0 0-.54 0l-10 5.1a.59.59 0 0 0-.17.16v.06a.58.58 0 0 0-.07.25v11.68a.56.56 0 0 0 0 .08.59.59 0 0 0 0 .12.58.58 0 0 0 .05.1l.06.09.09.08.06.05 10 5.64a.55.55 0 0 0 .53 0l9.99-5.63.06-.05.09-.08.07-.1a.57.57 0 0 0 0-.1.58.58 0 0 0 0-.13.56.56 0 0 0 0-.07V18.89zm-20.08 1l8.8 5v10.31l-8.8-5zm10 5l8.87-5v10.34l-8.87 5zM25 14.46l8.8 4.46-8.8 4.92-8.74-4.93z"></path>
            </svg></span>
          <span @click="handleAction('change-view')" class="actionbar-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
              <path d="M29.12 13.83a2.66 2.66 0 1 1-2.66-2.66 2.68 2.68 0 0 1 2.66 2.66zM32.62 25.22c-.5-.25-4-1.91-4-1.91s-1.25-2.58-1.83-4-1-1.66-1.83-1.66h-1.32a2.14 2.14 0 0 0-1.33.5l-3.49 3a1.37 1.37 0 0 0-.67.83l-.75 5c-.08.83.33 1.16.83 1.25a.86.86 0 0 0 1.08-.67c.08-.5.83-4.66.83-4.66l2.24-1.75c-.42 1.75-.75 3.66-.91 4.32a3.51 3.51 0 0 0 .75 2.66c.42.58 5.57 8.81 6.32 9.73s1.33 1.33 2.24.83.67-1.5.25-2.24-5.65-9.31-5.65-9.31l.91-3.82s.58.83.91 1.33a1.94 1.94 0 0 0 .75.58c.5.25 2.83 1.33 3.58 1.66s1.41.42 1.75-.17a1.25 1.25 0 0 0-.67-1.5z"></path>
              <path d="M21.06 28.71L20 32.46l-2.83 4.07c-.5.67-.83 1.5 0 2.08s1.58-.17 2.08-.75 2.16-2.91 2.66-3.49a5.45 5.45 0 0 0 .67-1.08c.08-.25.42-1.16.67-1.83z"></path>
            </svg></span>
        </div> -->
      </div>
      <a class="logo" href="#"><img :src="URLImgAssets + 'logo.png'" alt=""></a>
    </div>
    <EditObjectDetail v-if="showDetail" :toggleShowDetail="toggleShowDetail" />
    <ImportObject v-if="showObjectImport" :toggleShowObjectImport="toggleShowObjectImport" :categories="categories" :objects="objects" :importObjectItem="importObjectItem" :templateRoom="templateRoom" :importTemplateRoom="importTemplateRoom"/>
  </div>
</template>
<script>
import EditObjectDetail from "../components/EditObjectDetail";
import ImportObject from "../components/ImportObject";
import { ApiCat, ApiObject, URLLayout, URLBuilder, URLImgAssets, TemplateRoom } from "../config";
export default {
  props: ["layoutid"],
  components: {
    EditObjectDetail,
    ImportObject
  },
  mounted() {
    console.log("Editor Page mounted.", `${ApiCat}?is_menu=1`);
    window.axios.get(`${ApiCat}?is_menu=1`).then(res => {
      this.categories = _.get(res, 'data.data', []);
    }).catch(error => {
      const dataRes = error.response;
      const message = _.get(dataRes, 'data.message', '');
      console.error(message);
      swal("Error!", message, "error");
    });
    window.axios.get(`${ApiObject}`).then(res => {
      this.objects = res.data.data;
    }).catch(error => {
      const dataRes = error.response;
      const message = _.get(dataRes, 'data.message', '');
      console.error(message);
      swal("Error!", message, "error");
    });
    window.axios.get(`${TemplateRoom}/config.json`).then(dataJson => {
      this.templateRoom = dataJson.data;
    }).catch(error => {
      const dataRes = error.response;
      const message = _.get(dataRes, 'data.message', '');
      console.error(message);
      swal("Error!", message, "error");
    });

    this.receiveMessage();
  },
  data() {
    return {
      origin: '*',
      showDetail: false,
      showObjectImport: false,
      isActiveInfo: false,
      categories: [],
      objects: [],
      templateRoom: [],
      URLBuilder,
      URLImgAssets
    };
  },
  methods: {
    toggleShowDetail: function(event) {
      this.showDetail = !this.showDetail;
    },
    toggleShowObjectImport: function(event) {
      if (event && typeof event.preventDefault === 'function') {
        event.preventDefault();
      }
      this.showObjectImport = !this.showObjectImport;
    },
    postMessage(data) {
      const iframe = document.getElementById('iframe-content');
      if (iframe) {
        console.log('postMessage', data);
        iframe.contentWindow.postMessage(data, this.origin);
      }
    },
    receiveMessage() {
      window.addEventListener("message", receiveMessage, false);
      function receiveMessage(event)
      {
        if (event.origin !== this.origin) {
          return;
        }
        console.log('receiveMessage', event.data);
      }
    },
    handleAction(type) {
      const dataPost = {type: type};
      switch (type) {
        case 'previous':
          dataPost.data = 'previous-data';
          break;
        case 'next':
          dataPost.data = 'next-data';
          break;
        case 'add-text':
          dataPost.data = 'add-text-data';
          break;
        case 'add-image':
          dataPost.data = 'add-image-data';
          break;
        case 'add-ruler':
          dataPost.data = 'add-ruler-data';
          break;
        case 'share':
          dataPost.data = 'share-data';
          break;
        case 'question':
          dataPost.data = 'question-data';
          break;
        case 'setting':
          dataPost.data = 'setting-data';
          break;
        case 'print':
          dataPost.data = 'print-data';
          break;
        case 'close':
          dataPost.data = 'close-data';
          window.location.href = URLLayout;
          break;
        case 'zoom':
          dataPost.data = 'zoom-data';
          break;
        case 'full-screen':
          dataPost.data = 'full-screen-data';
          break;
        case 'change-views':
          dataPost.data = 'change-views-data';
          break;
      }

      this.postMessage(dataPost);
    },
    importObjectItem(object){
      this.toggleShowObjectImport();
      console.log('importObjectItem', object);
      this.postMessage({
        type: 'importObject',
        data: _.get(object, 'sku_data.0.key_name', '')
      });
    },
    importTemplateRoom(template) {
      this.toggleShowObjectImport();
      console.log('importTemplateRoom', template);
      window.axios.get(`${TemplateRoom}/${template.id}.json`).then(dataJson => {
        this.postMessage({
          type: 'importTemplateRoom',
          data: dataJson.data
        });
      });
    }
  }
};

</script>
