<template>
  <div class="layout-container content-wrapper">
    <div class="container-fluid">
      <div
        v-if="loading === true"
        class="d-flex align-items-center justify-content-center"
        style="height: 400px"
      >
        <div class="square-spin">
          <div></div>
        </div>
      </div>
      <div v-if="loading === false">
        <div class="content-heading">
          <div>
            Project #{{isAddNew ? "Add New" : detailData.id}} Management
            <!-- <small>In lacinia tellus vitae nisl consectetur pellentesque.</small> -->
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">

            <div class="card b" v-if="isEditor === false">
              <div class="card-header">
                <div class="float-right mt-2">
                  <div class="badge" :class="{'badge-success': (detailData.status === 1), 'badge-warning': (detailData.status === 0)}">{{detailData.status === 1 ? 'Published' : 'Pending'}}</div>
                </div>
                <h4 class="my-2">
                  <span>#{{detailData.id}}: {{detailData.name}}</span>
                </h4>
              </div>
              <div class="card-body">
                <h4>Image</h4>
                <p><img :src="detailData.image" class="img-responsive" style="max-width: 300px"/></p>
                <p class="text-right">
                  <button v-on:click="changeModeView" class="btn btn-secondary" type="button">
                    <em class="icon-note"></em> Edit info
                  </button>
                </p>
              </div>
            </div>

            <div class="card b" v-if="isEditor">
              <div class="card-header">
                <h4 class="my-2">
                  <span>{{isAddNew ? "Add New project" : "Edit project #" + tmpData.id}}</span>
                </h4>
              </div>
              <div class="card-body">
                <fieldset>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Name:</label>
                    <div class="col-lg-10">
                      <input v-model="tmpData.name" class="form-control" type="text" placeholder="Name..">
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Image:</label>
                    <div class="col-lg-10">
                      <input @change="fileChange" class="form-control" type="file"/>
                      <p v-if="fileReview !== ''">
                        <img :src="fileReview" class="mt-3 img-responsive" style="max-width: 300px"/>
                      </p>
                    </div>
                  </div>
                </fieldset>
                <div class="text-right mt-3">
                  <button @click="isEditor = !isEditor" class="btn btn-warning" type="button">Discard</button>&nbsp;
                  <button @click="handleUpdate" class="btn btn-success" type="button">Save</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-xl-4">
            <div class="card b">
              <div class="card-body bb">
                <div class="clearfix">
                  <div class="float-left">
                    <div class="btn-group mb-1"><button class="btn dropdown-toggle btn-primary" type="button" data-toggle="dropdown" aria-expanded="false">Status</button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start">
                          <a @click="changeStatus(1)" class="dropdown-item cursor-pointer">Published</a>
                          <div class="dropdown-divider"></div>
                          <a @click="changeStatus(0)" class="dropdown-item cursor-pointer">Pending</a>
                        </div>
                    </div>
                  </div>
                  <div class="float-right">
                    <button @click="goBack" class="btn btn-danger " type="button">Cancel</button>
                  </div>
                </div>
              </div>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <strong>Created date</strong>
                    </td>
                    <td>{{moment(detailData.created_at).format('DD/MM/YYYY')}}</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Updated date</strong>
                    </td>
                    <td>{{moment(detailData.updated_at).format('DD/MM/YYYY')}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueJsonPretty from "vue-json-pretty";
import { ApiProject, URLProject, ApiUpload } from "../config";
export default {
  props: ["projectid"],
  components: {
    VueJsonPretty,
  },
  mounted() {
    if (this.projectid) {
      // console.log("project detail Page mounted.", this.projectid);
      window.axios.get(ApiProject + "/" + this.projectid).then(res => {
        this.detailData = res.data.data;
        this.loading = false;
      });
    } else {
      this.loading = false;
      this.isEditor = true;
      this.isAddNew = true;
    }
  },
  data() {
    return {
      detailData: {},
      tmpData: {},
      fileReview: '',
      loading: true,
      isEditor: false,
      isAddNew: false,
      moment: window.moment,
    };
  },
  methods: {
    goBack() {
      window.location.href = URLProject;
    },
    changeStatus(status) {
      window.axios.put(ApiProject + "/" +  this.detailData.id, {
        status
      }).then(res => {
        this.detailData = res.data.data;
      }).catch(error => {
        const dataRes = error.response;
        const message = dataRes.data.message;
        console.error(message);
        swal("Error!", message, "error");
      });
    },
    handleUpdate() {
      if (this.tmpData) {
        if (!this.isAddNew) {
          window.axios.put(ApiProject + "/" +  this.projectid, this.tmpData).then(res => {
              this.detailData = res.data.data;
              this.tmpData = {};
              this.isEditor = false;
              this.fileReview = '';
          }).catch(error => {
            const dataRes = error.response;
            const message = dataRes.data.message;
            console.error(message);
            swal("Error!", message, "error");
          });
        } else {
          this.tmpData.status = 0;
          window.axios.post(ApiProject, this.tmpData).then(res => {
              this.detailData = res.data.data;
              this.tmpData = {};
              this.isEditor = false;
              this.isAddNew = false;
              this.fileReview = '';
          }).catch(error => {
            const dataRes = error.response;
            const message = dataRes.data.message;
            console.error(message);
            swal("Error!", message, "error");
          });
        }
      }
    },
    changeModeView() {
      this.isEditor = true;
      this.tmpData = {...this.detailData};
      this.fileReview = this.detailData.image;
    },
    fileChange(event) {
      // this.file = event.target.files[0];
      var formData = new FormData();
      formData.append("image", event.target.files[0]);
      formData.append("type", 'projects');
      axios.post(ApiUpload, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
      }).then(res => {
        this.tmpData.attachment_id = _.get(res, 'data.id', 0);
        this.fileReview = _.get(res, 'data.url', '');
      }).catch(error => {
          const dataRes = error.response;
          const message = dataRes.data.message;
          console.error(message);
          swal("Error!", message, "error");
        });
    }
  }
};
</script>
