<template lang="pug">
  <div class="detail-render">
    <span @click="toggleShowDetail" class="close-btn actionbar-btn ember-view"><img src="/img/icon-svg/close.svg" alt=""></span>
    <div class="banner-info">
      <div class="banner">
        <div class="row">
          <div class="col-md-7 text">
            <p>Width</p>
          </div>
          <div class="col-md-5 number">
            <span class="icon-arrow-down"></span>
            <select>
              <option value="w1" selected>146 cm</option>
              <option value="w2">147 cm</option>
              <option value="w3">148cm</option>
              <option value="w4" selected>150cm</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="bg-white">
            <div class="col-md-7 text">
              <p>Sofa Seating Material</p>
            </div>
            <div class="col-md-5 number">
              <p>S-RLN39</p>
            </div>
            <div class="material-section-wrapper">
              <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN39/thumbnail.jpg)"></span>
                </div>
              </div>
                <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN39/thumbnail.jpg)"></span>
                </div>
              </div>
                <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN39/thumbnail.jpg)"></span>
                </div>
              </div>
                <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN39/thumbnail.jpg)"></span>
                </div>
              </div>
                <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN39/thumbnail.jpg)"></span>
                </div>
              </div>
                <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN39/thumbnail.jpg)"></span>
                </div>
              </div>
                <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN39/thumbnail.jpg)"></span>
                </div>
              </div>
                <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN39/thumbnail.jpg)"></span>
                </div>
              </div>
                <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN39/thumbnail.jpg)"></span>
                </div>
              </div>
                <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN39/thumbnail.jpg)"></span>
                </div>
              </div>
              <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/S_RLN57/thumbnail.jpg)"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="bg-white">
            <div class="col-md-7 text">
              <p>Sofa Frame Material</p>
            </div>
            <div class="col-md-5 number">
              <p>Nuss</p>
            </div>
            <div class="material-section-wrapper">
              <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/Nuss/thumbnail.jpg)"></span>
                </div>
              </div>
              <div class="material-section">
                <div class="material-wrapper">
                  <span class="material-wrapper-item" style="background-image: url(https://catalog.roomle.com/0d62a94b-3487-446a-969c-564f463a30f1/materials/Eiche/thumbnail.jpg)"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 text">
            <p>Leg Type</p>
          </div>
          <div class="col-md-5 number">
            <span class="icon-arrow-down"></span>
            <select>
              <option value="lb1" selected>A489</option>
              <option value="lb2">B489</option>
              <option value="lb3">C489</option>
              <option value="lb4" selected>D489</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="render-content">
      <button class="default-btn delete"><i class="fas fa-trash-alt"></i></button>
      <button class="default-btn ar"><i class="far fa-eye"></i><span>AR</span></button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["toggleShowDetail"],
  mounted() {
    // console.log("Component mounted data.");
  }
};
</script>
