<template lang="pug">
  <div class="detail-render import-object">
    <span @click="toggleShowObjectImport" class="close-btn actionbar-btn ember-view"><img src="/img/icon-svg/close.svg" alt=""></span>
    <div class="banner-info">
      <div class="banner">
        <div class="row">
          <div class="col-md-12 text">
            <p class="title">Filter by Category</p>
          </div>
        </div>
        <div class="row">
          <div class="bg-white">
            <div class="list-group list-group-flush">
              <div class="cursor-pointer list-group-item list-group-item-action" :class="{active: filterCat === ''}" @click="handleFilterCat('')">All</div>
              <div class="cursor-pointer list-group-item list-group-item-action" :class="{active: filterCat === item.id}" v-for="item in categories" @click="handleFilterCat(item.id)">{{item.name}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text">
            <p @click="handleChangeView('templateRoom')" class="title cursor-pointer">Template Room</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-info">
      <div class="row" v-if="view === ''">
        <div class="col-md-12 cat-item-content" v-for="cat in categories" v-if="cat.id === filterCat || filterCat === ''">
          <div class="title">{{cat.name}}</div>
          <div class="row object-list">
            <div class="col-md-4 object-item-content" v-for="item in objects" v-if="item.category_id === cat.id" @click="importObjectItem(item)">
              <div class="object-item-img">
                <img :src="item.image" :alt="item.name" class="img-responsive" />
              </div>
              <div class="object-item-brand">{{item.brand_name}}</div>
              <div class="object-item-name">{{item.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" v-if="view === 'templateRoom'">
        <div class="col-md-12 cat-item-content">
          <div class="title">Template Room</div>
          <div class="row object-list">
            <div class="col-md-4 object-item-content" v-for="item in templateRoom" @click="importTemplateRoom(item)">
              <div class="object-item-img">
                <img :src="URLPublic + item.image" :alt="item.name" class="img-responsive" />
              </div>
              <div class="object-item-name">{{item.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { URLPublic } from "../config";
export default {
  props: ["toggleShowObjectImport", "categories", "objects", "importObjectItem", "templateRoom", "importTemplateRoom"],
  mounted() {
    // console.log("Component mounted data.");
  },
  data() {
    console.log(this.templateRoom);
    return {
      filterCat: '',
      view: '',
      URLPublic
    };
  },
  methods: {
    handleFilterCat: function(cat) {
      this.filterCat = cat;
      this.view = '';
    },
    handleChangeView: function (view) {
      this.view = view;
    }
  }
};
</script>
