<template>
  <div v-bind:id="'plan-item-' + data.id" class="col-md-3 col-sm-4 col-xs-6 list__cell plan__cell">
    <div class="plan">
      <div class="plan__body">
        <div class="plan__visual"></div>
        <div v-if="data.image === '' || data.image === null" style="background-image:none" class="plan__thumb plan__empty"></div>
        <div v-if="data.image !== '' && data.image !== null" v-bind:style="'background-image:url(' + data.image + ')'" class="plan__thumb"></div>
        <div class="plan__overlay cursor-pointer">
          <span class="cursor-pointer plan__open"></span>

          <div class="plan__overlay_body">
            <div>
              <span data-title="Plan details" class="plan-list__action hint">
                <a :href="URLLayout + '/' + data.id">
                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M17.39 12.465c0 .005 0 .01-.006.018V25.02c.005.007.005.015.005.024a.069.069 0 0 1-.017.042v.133a.643.643 0 0 1-.642.642h-1.35a.642.642 0 0 1-.64-.643v-.18h-.006V12.46c0-.006.003-.013.006-.02v-.017a.64.64 0 0 1 .64-.64h1.352a.64.64 0 0 1 .642.64v.002c.01.013.015.026.015.04z"
                  ></path>
                  <path
                    d="M15.984.066c-12.22 0-19.857 13.23-13.75 23.812 6.112 10.582 21.386 10.582 27.497 0a15.887 15.887 0 0 0 2.127-7.938C31.847 7.178 24.745.075 15.984.066zm0 29.86C5.23 29.927-1.49 18.287 3.886 8.973 9.264-.34 22.702-.34 28.08 8.972a13.955 13.955 0 0 1 1.87 6.968c-.01 7.71-6.256 13.958-13.966 13.968z"
                  ></path>
                  <path
                    d="M16.754 6.52h-1.35a.64.64 0 0 0-.642.64v1.35c0 .355.286.644.64.644h1.352c.355 0 .642-.29.642-.643V7.16a.64.64 0 0 0-.642-.64z"
                  ></path>
                </svg>
                </a>
              </span>
              <!-- <span data-title="Share" class="plan-list__action hint">
                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M25.344 21.724a5.045 5.045 0 0 0-3.955 1.919L10.734 17.23a4.96 4.96 0 0 0 .219-1.364 5.07 5.07 0 0 0-.135-1.111l10.486-6.48c2.332 3.11 7.156 2.528 8.683-1.047C31.515 3.654 28.598-.234 24.74.232a5.047 5.047 0 0 0-4.445 5.03c.005.392.055.781.151 1.161l-10.47 6.464c-2.28-3.148-7.115-2.648-8.7.902-1.586 3.548 1.264 7.484 5.13 7.083a5.056 5.056 0 0 0 3.402-1.841l10.689 6.413a4.77 4.77 0 0 0-.202 1.363c0 3.887 4.208 6.317 7.574 4.373 3.367-1.944 3.367-6.802 0-8.746a5.058 5.058 0 0 0-2.525-.677zm3.064 5.05c0 2.358-2.554 3.832-4.595 2.652-2.044-1.178-2.044-4.127 0-5.305a3.064 3.064 0 0 1 4.595 2.686zM22.281 5.245c0-2.358 2.552-3.833 4.595-2.653 2.042 1.178 2.042 4.127 0 5.306a3.066 3.066 0 0 1-4.595-2.653zM8.815 15.849c0 2.359-2.554 3.833-4.595 2.653-2.044-1.178-2.044-4.127 0-5.305.464-.27.993-.411 1.531-.411a3.065 3.065 0 0 1 3.131 3.063z"
                  ></path>
                </svg>
              </span> -->
              <!-- <span data-title="Copy plan" class="plan-list__action hint">
                <svg viewBox="0 0 32 32" width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M28.681 11.159c-.694-.947-1.662-2.053-2.724-3.116s-2.169-2.03-3.116-2.724C21.229 4.137 20.448 4 20 4H8.5A2.503 2.503 0 0 0 6 6.5v23C6 30.878 7.121 32 8.5 32h19c1.378 0 2.5-1.122 2.5-2.5V14c0-.448-.137-1.23-1.319-2.841zm-4.138-1.702A27.334 27.334 0 0 1 26.811 12H22V7.189a27.334 27.334 0 0 1 2.543 2.268zM28 29.5c0 .271-.229.5-.5.5h-19a.507.507 0 0 1-.5-.5v-23c0-.271.229-.5.5-.5H20v7a1 1 0 0 0 1 1h7v15.5z"
                  ></path>
                  <path
                    d="M18.841 1.319C17.229.137 16.448 0 16 0H4.5A2.503 2.503 0 0 0 2 2.5v23c0 1.207.86 2.217 2 2.45V2.5c0-.271.229-.5.5-.5h15.215a19.873 19.873 0 0 0-.873-.681z"
                  ></path>
                </svg>
              </span> -->
              <span @click="deletePlan(data)" data-title="Delete Plan" class="plan-list__action hint">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                  <path
                    d="M10.53 1.022c-.319.33-.427.714-.427 1.499v.573H4.836l-.342.227c-.529.357-.628.628-.658 1.742-.034 1.142.022 1.341.487 1.763.378.335.612.407 1.47.407h.457v11.382c0 12.592-.036 11.564.451 12.085l.211.23h17.894l.243-.216c.516-.45.472.557.472-12.082V7.246l.771-.028c.906-.029 1.25-.178 1.583-.684.25-.372.323-.836.271-1.764-.042-.785-.156-1.027-.622-1.356l-.282-.214-2.67-.021-2.69-.015v-.521c0-.927-.215-1.456-.743-1.769C20.924.73 20.712.73 15.857.73h-5.068l-.259.292zm9.639 1.607v.465h-8.354v-.928h8.354v.463zm6.279 2.534v.428l-10.463-.014-10.464-.022-.013-.414v-.406h20.94v.428zm-2.497 13.169V29.43H7.999l.021-11.098.014-11.099h15.917v11.099z"
                  ></path>
                  <path
                    d="M10.103 18.367v8.993h1.641v-7.052c0-3.884.022-7.923.052-8.992l.042-1.942h-1.735v8.993zm5.068 0v8.993l.807-.014.8-.021.021-8.979.014-8.972h-1.642v8.993zm4.998 0v8.993h1.64V9.374h-1.64v8.993z"
                  ></path>
                </svg>
              </span>
              <span class="plan-list__action hint" data-title="Edit">
                <a style="color: white" :href="URLEditor + '/' + data.id"><svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><path stroke-width="2" stroke-miterlimit="10" stroke="#ffffff" fill="none" d="M58.4 18.77l.941-.941c3.637-3.638 2.7-8.595-.941-12.233s-8.6-4.58-12.234-.94l-.941.941" data-name="layer2"></path><path d="M52.639 24.535l5.766-5.765L45.229 5.596l-5.764 5.764" stroke-width="2" stroke-miterlimit="10" stroke="#ffffff" fill="none" data-name="layer1"></path><path d="M19.582 57.59l33.057-33.055L39.465 11.36 6.409 44.416 2.352 61.649l17.23-4.059zM6.409 44.416L19.582 57.59" stroke-width="2" stroke-miterlimit="10" stroke="#ffffff" fill="none" data-name="layer1"></path></svg></a>
              </span>
            </div>
            <!-- <span class="plan__overlay_open">
              <a style="color: white" :href="URLEditor + '/' + data.id"><span class="cursor-pointer text-centered plan__overlay--triangle"><img src="/img/icon-svg/edit.svg" alt=""></span></a>
            </span> -->
          </div>
        </div>
      </div>
      <form class="plan__title">
        <input v-model="data.name" placeholder="Enter your Plan name here" type="text" @blur="updatePlan(data)">
        <button type="submit" class="visuallyhidden">save plan</button>
      </form>
    </div>
  </div>
</template>
<script>
import { URLLayout, URLEditor } from "../config";
export default {
  props: ["data", "deletePlan", "updatePlan"],
  mounted() {
    console.log("Component mounted data.");
  },
  data() {
    return {
      URLEditor,
      URLLayout
    }
  }
};
</script>
